{% extends "layouts/base.njk" %}

{% set title = "Сторінка послуг" %}

{% block content %}

  <main class="services-page">
    <div class="container">
      <!-- Breadcrumbs -->
      <sl-breadcrumb>
        <sl-breadcrumb-item href="#">Озеленення і Фітодизайн</sl-breadcrumb-item>
        <sl-breadcrumb-item href="#">Послуги</sl-breadcrumb-item>
      </sl-breadcrumb>
      <h1>Послуги</h1>
      <div class="services-page__description">
        Озеленення офісного простору дуже цікаве заняття. Необхідно підібрати рослини залежно від умов приміщення. Врахувати побажання власників офісу, а також співробітників, біля яких будуть стояти квіти. Рослини повинні бути стійкими і витримувати різного роду напруги. Необхідно передбачити, як буде вести себе рослина з часом без професійного догляду.
      </div>

      <section class="services-page__service">
        <h2 class="services-page__title">
          <div class="services-page__title_icon">
            <img src="/img/icons/icon-fitodesign.svg" alt="">
          </div>
          <span>Фітодизайн та кімнатні рослини</span>
        </h2>
        <ul class="services-page__grid four-columns">
          <li class="services-page__grid_item">
            <a href="">
              <div class="services-page__grid_item-image">
                <img src="/img/sevices/apartment-phytodesign.png" alt="">
              </div>
              <h3 class="underline">Фітодизайн</h3>
              <p>Озеленення приміщень, – офіс, будинок, квартира. Підбір рослин і кашпо</p>
            </a>
          </li>
          <li class="services-page__grid_item">
            <a href="">
              <div class="services-page__grid_item-image">
                <img src="/img/sevices/green-walls.png" alt="">
              </div>

              <h3 class="underline">Зелені стіни</h3>
              <p>Проектування, монтаж та обслуговування зеленої стіни з живих рослин</p>
            </a>
          </li>
          <li class="services-page__grid_item">
            <a href="">
              <div class="services-page__grid_item-image">
                <img src="/img/sevices/green-moss-walls.png" alt="">
              </div>

              <h3 class="underline">Зелені стіни з моху</h3>
              <p>Озеленення приміщень стабілізованим мохом. Логотипи з моху</p>
            </a>
          </li>
          <li class="services-page__grid_item">
            <a href="">
              <div class="services-page__grid_item-image">
                <img src="/img/sevices/plant-care.png" alt="">
              </div>

              <h3 class="underline">Догляд за рослинами</h3>
              <p>Послуги з догляду за кімнатними рослинами. Виклик спеціаліста</p>
            </a>
          </li>
          <li class="services-page__grid_item">
            <a href="">
              <div class="services-page__grid_item-image">
                <img src="/img/sevices/green-solutions-HoReCa.png" alt="">
              </div>

              <h3 class="underline">Оренда рослин</h3>
              <p>Оренда рослин для заходів: на виставку, фотозйомку чи конференцію</p>
            </a>
          </li>
          <li class="services-page__grid_item">
            <a href="">
              <div class="services-page__grid_item-image">
                <img src="/img/sevices/plant-transplantation.png" alt="">
              </div>

              <h3 class="underline">Пересадка рослин</h3>
              <p>Пересадка рослин в нові горщики, підбір горщиків за розміром, оновлення ґрунту</p>
            </a>
          </li>
          <li class="services-page__grid_item">
            <a href="">
              <div class="services-page__grid_item-image">
                <img src="/img/sevices/plant-transportation.png" alt="">
              </div>

              <h3 class="underline">Перевезення рослин</h3>
              <p>Транспортування  рослин при переїзді, доставка із садових центрів</p>
            </a>
          </li>
          <li class="services-page__grid_item">
            <a href="">
              <div class="services-page__grid_item-image">
                <img src="/img/sevices/landscaping-of-summer-terraces.png" alt="">
              </div>

              <h3 class="underline">Озеленення тераси</h3>
              <p>Квіти для літньої тераси і балкону. Посадка літніх квітів, підбір горщиків для рослин</p>
            </a>
          </li>
        </ul>
      </section>

    </div>

    <!-- Модальне вікно перегляду фото -->
    {% include "components/photo-viewer-modal.njk" %}
  {% endblock %}