@use '../functions' as *;

.homepage {
  // Hero Swiper
  &__hero {
    &-swiper.swiper {
      padding-bottom: getRem(36);
      h2 {
        font-size: getRem(48);
        font-weight: 600;
        line-height: 1.2;
      }
    }
    &-slide-1 {
      .slide-1__content {
        display: flex;
        gap: 48px;
        padding: 48px 48px 0 48px;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          inset: 0 0 48px 0;
          border-radius: 1rem;
          background: var(--color-green-20) url('/img/bg-leaves-back.svg')
            no-repeat center/auto 165%;
          z-index: -1;
        }
      }
      .slide-1__image {
        flex-shrink: 0;
        width: 16.66%;
      }
      .slide-1__text {
        h2 {
          padding-left: getRem(36);
          margin-bottom: getRem(24);
        }
        p {
          padding-left: getRem(36);
          font-size: getRem(18);
          line-height: 1.5;
          font-weight: 300;
          a {
            color: var(--color-green-100);
          }
        }
      }
      .slide-1__actions {
        margin-top: 36px;
        display: flex;
        gap: 40px;
        padding: 24px 36px 18px 24px;
        border-radius: 1rem;
        box-shadow: 0 8px 40px 0 rgba(0, 38, 3, 0.08);
        background-color: var(--color-white);
        .slide-1__action {
          position: relative;
          &_link {
            display: flex;
            align-items: center;
            gap: getRem(24);
            font-size: getRem(20);
            font-weight: 600;
            line-height: 1.2;
            color: var(--color-violet);
            & > a:first-child {
              width: 78px;
              flex-shrink: 0;
            }
            img {
              width: 100%;
              border-radius: 8px;
              object-fit: cover;
            }
          }
          &_description {
            margin-top: 1rem;
            font-size: getRem(14);
            font-weight: 300;
            color: var(--color-gray-100);
          }
        }
      }
    }

    &-slide-2,
    &-slide-3 {
      background:
        url('/img/homepage/hero-swiper-slide-2-1.png') no-repeat left top/23%
          auto,
        url('/img/homepage/hero-swiper-slide-2-2.png') no-repeat right
          bottom/25% auto,
        #eee5df;
      border-radius: 1rem;
      padding: 48px 18% 48px 24%;
      .slide-2__content {
        h2 {
          margin-bottom: getRem(24);
        }
        p {
          font-size: getRem(18);
          line-height: 1.5;
          font-weight: 300;
        }
        ul {
          list-style: disc;
          padding-left: getRem(30);
          li {
            font-size: getRem(18);
            line-height: 1.5;
            font-weight: 300;
          }
        }
      }
      .slide-2__action {
      }
    }
    &-slide-3 {
      padding: 48px 20% 48px 26%;
      background:
        url('/img/homepage/hero-swiper-slide-3-1.png') no-repeat left top/auto
          100%,
        url('/img/homepage/hero-swiper-slide-3-2.png') no-repeat right
          bottom/auto 100%,
        #f7f7e7;
    }
  }

  // Interior Landscaping
  &__landscaping {
    margin-top: 60px;
    position: relative;
    &__leaf {
      position: absolute;
      top: -44px;
      left: 92%;
      width: 13%;
      height: auto;
      object-fit: contain;
      z-index: -1;
    }
    &__content {
      display: flex;
      gap: getRem(80);
      background: url('/img/leaf.png') no-repeat left 3.75rem bottom/ 172px auto;
      & > h2 {
        font-size: getRem(40);
        font-weight: 600;
        line-height: 1.2;
        width: 260px;
        flex-shrink: 0;
      }
      &-text {
        font-size: getRem(18);
        line-height: 1.5;
        font-weight: 300;
        p {
          margin-bottom: 1rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .services-swiper {
      margin-top: 48px;
    }
  }

  &__last-works {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    &-leaf-1 {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 320px;
      height: auto;
      translate: 50% 0%;
    }
    &-leaf-2 {
      position: absolute;
      top: 0;
      left: 300px;
      translate: 0% -31%;
      width: 160px;
      height: auto;
    }
    &_more {
      margin-top: 40px;
      text-align: center;
    }
  }

  &__numbers {
    padding: 80px 0;
    background: var(--color-gray-20) url('/img/bg-leaves-back.svg') no-repeat
      center / cover;
    .container {
      h2 {
        margin-bottom: getRem(24);
      }
    }
    &_list {
      background-color: var(--color-white);
      border-radius: 1rem;
      padding: getRem(16) getRem(48);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      box-shadow: 0 8px 40px 0 rgba(0, 38, 3, 0.08);
      .numbers__item {
        padding: getRem(24);
        min-height: 280px;
        border-right: 1px solid var(--color-gray-30);
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          border-bottom: 1px solid var(--color-gray-30);
        }
        &:nth-child(4n + 1) {
          padding-left: 0;
        }
        &:nth-child(4n) {
          border-right: none;
          padding-right: 0;
        }
        &_icon {
          width: 78px;
          height: 78px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--color-green-20);
          margin-bottom: 1rem;
          img {
            width: 40px;
            height: 40px;
            object-fit: contain;
          }
        }
        &_text {
          h3 {
            margin-bottom: getRem(12);
            font-size: getRem(20);
            font-weight: 600;
            a {
              color: var(--color-green-100);
            }
          }
          p {
            font-weight: 300;
            color: var(--color-gray-100);
            line-height: 1.33;
            b {
              font-weight: 600;
              color: var(--color-black);
            }
          }
        }
      }
    }
  }

  &__clients {
    margin-top: 80px;
  }

  &__popular {
    margin-top: 80px;
  }

  &__advices {
    margin-top: 80px;
    padding: 80px 0;
    background: var(--color-gray-20) url('/img/bg-leaves-back.svg') no-repeat
      center / cover;
    &_wrapper {
      background-color: var(--color-white);
      border-radius: 1rem;
      padding: getRem(48);
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: getRem(48);
    }
    &_content {
      h2 {
        font-size: getRem(40);
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: getRem(32);
      }
      &--description {
        font-size: getRem(18);
        line-height: 1.5;
        font-weight: 300;
        margin-bottom: getRem(32);
        p {
          margin-bottom: 1rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &--form {
        display: flex;
        flex-direction: column;
        gap: getRem(16);
        width: 50%;
        align-items: flex-start;
        margin-bottom: getRem(32);
        sl-input {
          width: 100%;
          display: block;
        }
      }
      &--call {
        font-weight: 300;
        margin-bottom: getRem(32);
      }
      &--phones {
        padding-left: getRem(48);
        background: url('/img/icons/icon-phone.svg') no-repeat left top 6px /
          32px 32px;
        &.active {
          .phones--hidden {
            display: none;
          }
          .phones--visible {
            display: block;
          }
        }
        .phones--hidden {
          font-weight: 500;
          button {
            font-weight: 400;
            color: var(--color-green-100);
          }
        }
        .phones--visible {
          display: none;
        }
        .phones--hours {
          font-size: getRem(12);
          font-weight: 300;
          color: var(--color-gray-100);
          margin-top: 2px;
        }
      }
    }
    &_photos {
      max-height: 100%;
      display: grid;
      grid-template-rows: 37% auto;
      gap: getRem(16);
      img {
        border-radius: 8px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &--top {
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        gap: getRem(16);
        .image {
          position: relative;
        }
      }
      &--bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        gap: getRem(16);
        .image {
          position: relative;
          &:nth-child(1) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
          }
          &:nth-child(2) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
          }
          &:nth-child(3) {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
          }
        }
      }
      img {
        border-radius: 8px;
      }
    }
  }

  &__information {
    padding: 40px 0;
    &_list {
      .information__item {
        display: flex;
        gap: getRem(24);
        padding: 40px 0;
        border-bottom: 1px solid var(--color-gray-30);
        h3 {
          width: 26.5%;
          flex-shrink: 0;
          font-size: getRem(24);
          font-weight: 600;
          line-height: 1.33;
        }
        section {
          font-size: getRem(14);
          .btn {
            color: var(--color-green-100);
          }
          p {
            margin-bottom: 2rem;
            &:last-child {
              margin-bottom: 0;
            }
          }
          ul {
            list-style: disc;
            padding-left: getRem(20);
            margin-bottom: 2rem;
            li {
              margin-bottom: 0.1rem;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  &__rating {
    margin-top: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: var(--color-gray-20) url('/img/bg-leaves-back.svg') no-repeat
      center / cover;
    &_grid {
      background-color: var(--color-white);
      box-shadow: 0 8px 40px 0 rgba(0, 38, 3, 0.08);
      border-radius: 1rem;
      padding: getRem(16) getRem(48);
      display: flex;
      gap: getRem(24);
      h2 {
        width: 180px;
        margin-top: getRem(20);
      }
    }
    &_title {
      width: 280px;
      flex-shrink: 0;
      .google-logo {
        margin-top: 32px;
        width: 170px;
        img {
          width: 100%;
        }
      }
    }
    &_list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .rating__item {
        padding: getRem(24);
        border-right: 1px solid var(--color-gray-30);
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          border-right: none;
          padding-right: 0;
        }
        &_text {
          font-size: getRem(14);
          font-weight: 300;
          margin-bottom: 1rem;
          p {
            margin-bottom: 1rem;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        &_name {
          font-size: getRem(16);
          font-weight: 500;
          margin-bottom: getRem(4);
        }
        sl-rating {
          --symbol-size: 0.9rem;
        }
      }
    }
  }

  &__projects {
    margin-top: 80px;
    padding: 80px 0;
    background: var(--color-green-20) url('/img/bg-leaves-back.svg') no-repeat
      center / cover;
  }
}
