@use '../functions' as *;

.portfolio-page {
  &__content {
    h1 {
      font-size: 1.75rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }
  }
  &__description {
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    margin-bottom: getRem(36);
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: getRem(24);
    list-style: none;
    padding: 0;
    margin: 0;
    &.gallery {
      &-image {
        &::before {
          content: '';
          background: var(--color-black-50) url('/img/icons/icon-zoom.svg') no-repeat center center / 45px 45px;
          position: absolute;
          inset: 0;
          opacity: 0;
          transition: opacity 0.3s ease;
          z-index: 1;
        }
      }
    }
    &-image {
      width: 100%;
      height: auto;
      aspect-ratio: 1;
      display: block;
      border-radius: getRem(16);
      margin-bottom: getRem(12);
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
      }
    }

    & > li {
      &.new {
        position: relative;
        &::after {
          content: 'Новинка';
          position: absolute;
          top: getRem(12);
          left: getRem(12);
          background-color: var(--color-black);
          color: var(--color-white);
          font-size: 14px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          padding: 4px 12px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 1rem;
          min-height: 30px;
        }
      }
      &:hover {
        .portfolio-page__list-image {
          &::before {
            opacity: 1;
          }
          img {
            transform: scale(1.1);
          }
        }
      }
      & > a {
        display: flex;
        flex-direction: column;
      }
      h3 {
        font-size: 1rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        margin-bottom: getRem(4);
      }
      time {
        display: block;
        font-size: 1rem;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        color: var(--color-gray-60);
      }
    }
  }
  &__actions {
    margin-top: getRem(56);
    text-align: center;
  }
  &__interior-landscaping {
    margin-top: 80px;
    padding-top: 20px;
    border-top: 1px solid var(--color-gray-30);
  }
}
