@use '../functions' as *;
.services-page {
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  h1 {
    font-size: getRem(28);
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    margin-top: getRem(32);
    margin-bottom: getRem(24);
  }

  &__content {
    iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 1.8;
    }
    p {
      min-height: 1em;
    }
    h1 {
      font-size: getRem(28);
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      margin-top: getRem(32);
      margin-bottom: getRem(24);
    }
    h2 {
      font-size: getRem(24);
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
    }
    h3 {
      font-size: getRem(20);
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
    }
    ul {
      list-style: disc;
      padding-left: 1.5rem;
      li {
        margin-bottom: 1em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__title {
    display: flex;
    align-items: center;
    gap: getRem(16);
    margin-bottom: getRem(24);
    font-size: getRem(20);
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    &_icon {
      width: 78px;
      height: 78px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-green-20);
      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
      }
    }
  }
  &__description {
    font-size: 1rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
  }
  &__service {
    margin-top: 48px;
  }
  &__grid {
    background-color: var(--color-white);
    border-radius: 1rem;
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    box-shadow: 0 8px 40px 0 rgba(0, 38, 3, 0.08);
    &.four-columns {
      .services-page__grid_item {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          border-top-color: transparent;
        }
        &:nth-child(4n + 1) {
          padding-left: 0;
        }
        &:nth-child(4n) {
          border-right: none;
          padding-right: 0;
        }
      }
    }
    &.three-columns {
      .services-page__grid_item {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          border-top-color: transparent;
        }
        &:nth-child(3n + 1) {
          padding-left: 0;
        }
        &:nth-child(3n) {
          border-right: none;
          padding-right: 0;
        }
      }
    }
    &_item {
      padding: getRem(24);
      border-right: 1px solid var(--color-gray-30);
      border-top: 1px solid var(--color-gray-30);
      &:last-child {
        border-right: none;
      }
      &:hover {
        .services-page__grid_item-image {
          img {
            scale: 1.1;
          }
        }
      }
      &-image {
        width: 148px;
        aspect-ratio: 1;
        overflow: hidden;
        border-radius: 1rem;
      }
      img {
        width: 148px;
        height: auto;
        transition: scale 0.5s ease;
      }
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      color: var(--color-violet);
      margin-top: getRem(16);
      margin-bottom: getRem(12);
    }
    p {
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: var(--color-gray-100);
    }
  }

  &__calc {
    width: 35%;
    flex-shrink: 0;
    margin-left: 48px;
    padding: 24px 24px 36px;
    border-radius: 16px;
    background-color: var(--color-gray-10);
    h3 {
      margin-bottom: getRem(16);
    }
    p {
      margin-top: getRem(24);
      margin-bottom: getRem(16);
    }
  }

  &__numbers {
    margin-top: 80px;
    h2 {
      margin-bottom: getRem(24);
    }
    .services-page__grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      .services-page__grid_item {
        b {
          font-size: getRem(48);
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          display: block;
          margin-bottom: getRem(12);
        }
        span {
          font-size: 1rem;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: normal;
          color: var(--color-gray-100);
          display: block;
        }
      }
    }
  }
  &__left-title {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 2rem;
  }
  &__grid-with-button {
    margin-top: 80px;
    h2 {
      margin-bottom: getRem(24);
    }
    .services-page__grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      .services-page__grid_item {
        span {
          display: block;
          margin-top: 1rem;
          font-weight: 600;
        }
      }
      .services-page__grid_item.button {
        grid-column: 1 / -1;
        text-align: center;
        border: none;
      }
    }
  }
  &__portfolio {
    margin-top: 80px;
    h2 {
      margin-bottom: getRem(24);
    }
    &_grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: getRem(16);
    }
    &_column {
      display: grid;
      gap: getRem(16);
      aspect-ratio: 0.4;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
        min-height: 0; // Це дозволяє картинці зменшуватись менше її реального розміру
        cursor: pointer;
      }
      &:nth-child(n + 1) {
        grid-template-rows: 4.2fr 5.8fr;
      }
      &:nth-child(n + 2) {
        grid-template-rows: 6.6fr 3.4fr;
      }
      &:nth-child(n + 3) {
        grid-template-rows: 5.4fr 4.6fr;
      }
    }
  }
  &__left-title-list {
    margin-top: 80px;
    img {
      width: 100%;
      height: auto;
    }
    & > * {
      margin: 0;
      padding: 3rem 0;
      border-bottom: 1px solid var(--color-gray-30);
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
  &__recomends {
    margin-top: 80px;
  }

  &__contact-form {
    margin-top: 80px;
    box-shadow: 0 8px 40px 0 rgba(0, 38, 3, 0.08);
    border-radius: 1rem;
    padding: getRem(48);
    background-color: #fff;
    display: flex;
    gap: getRem(64);
    &_image {
      height: auto;
      width: 22%;
    }
    &_content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: getRem(32);
      h2 {
        font-size: getRem(40);
      }
      .form {
        display: flex;
        flex-direction: column;
        gap: getRem(16);
      }
      .form-control {
        width: 50%;
      }
    }
  }

  &__faq {
    margin-top: 80px;
    h2 {
      margin-bottom: getRem(24);
    }
    &_list {
      padding: getRem(24);
      box-shadow: 0 8px 40px 0 rgba(0, 38, 3, 0.08);
      border-radius: 1rem;
      details {
        border-bottom: 1px solid var(--color-gray-30);
      }

      details:last-child {
        border-bottom: none;
      }

      summary {
        list-style: none; /* Приховуємо стандартний трикутник */
        padding: 25px 0;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        display: flex;
        align-items: center;
        /* Колір закритого заголовку - зелений, як на фото */
        color: var(--color-green-100);
        transition: color 0.3s ease;
        position: relative;
      }

      /* Прибираємо стандартний маркер у Safari/Chrome */
      summary::-webkit-details-marker {
        display: none;
      }

      /* Іконка (плюс/мінус) */
      summary::before {
        content: '';
        margin-right: 20px;
        width: 24px;
        height: 24px;
        display: block;
        background: url('/img/icons/icon-plus.svg') no-repeat center center;
      }

      /* Стан ВІДКРИТО */
      details[open] summary {
        /* Колір відкритого заголовку - чорний */
        color: #000;
      }

      details[open] summary::before {
        content: '';
        background: url('/img/icons/icon-minus.svg') no-repeat center center;
      }

      /* Контент відповіді */
      .content {
        color: #333;
        line-height: 1.6;
        padding-bottom: 25px;
        padding-left: 40px; /* Відступ, щоб текст був під заголовком, а не під плюсом */
        font-size: 15px;
      }
    }
  }
}
