@use './functions' as *;
@use './mixins' as *;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --scrollbar-width: thin;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-white);
  color: var(--color-black);
}

a {
  color: currentColor;
  text-decoration: inherit;
  transition: color 0.2s ease;
}

.container {
  max-width: 1320px;
  padding: 0 3.75rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}

.header {
  position: relative;
  top: 0;
  z-index: 100;
  background-color: var(--color-white);
  transition: transform 0.3s ease-in-out;

  &.header--hidden {
    transform: translateY(-100%);
  }

  /* Компенсація для scrollbar при блокуванні скролу */
  &.compensate-scrollbar {
    padding-right: var(--scrollbar-width, 0);
  }

  &__nav {
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    background-color: var(--color-gray-20);
    border-radius: 0 0 getRem(8) getRem(8);
    &-location {
      &::part(body) {
        max-width: 380px;
        padding-right: getRem(48);
      }
      &--button {
        display: inline-flex;
        gap: getRem(8);
        align-items: center;
        color: var(--color-green-100);
        cursor: pointer;
      }
      &--content {
        display: flex;
        align-items: flex-start;
        gap: getRem(20);
        & > img {
          width: getRem(32);
          height: getRem(32);
        }
        .description {
          font-weight: 300;
          color: var(--color-gray-100);
          line-height: 1.5;
          & > a {
            font-weight: 600;
            color: var(--color-green-100);
            margin-bottom: 0.5rem;
            display: block;
            white-space: nowrap;
          }
        }
      }
      &--close {
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 1;
      }
    }
    &-list {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: getRem(40);
    }
    &-item {
      position: relative;
      font-size: getRem(14);
      font-weight: 600;
      &:not(:last-child) {
        &::after {
          content: '';
          position: absolute;
          top: calc(50% - getRem(2.5));
          left: calc(100% + getRem(16));
          width: getRem(5);
          height: getRem(5);
          background-color: var(--color-gray-40);
          border-radius: 50%;
        }
      }
    }
    &-link {
      text-decoration: underline;
      text-decoration-color: var(--color-gray-40);
      text-underline-offset: getRem(4);
      transition: text-decoration-color 0.2s ease, color 0.2s ease;
      &:hover {
        color: var(--color-green-100);
        text-decoration-color: transparent;
      }
    }
    &-lang {
      margin-left: getRem(20);
      &--button {
        color: var(--color-green-100);
        .icon {
          margin-top: getRem(2);
        }
      }
    }
  }
  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: getRem(32);
    width: 100%;
    min-height: getRem(96);
    &--left {
      display: flex;
      align-items: center;
      gap: getRem(40);
    }
    &--right {
      display: flex;
      align-items: center;
      gap: getRem(24);
      margin-left: auto;
      width: 100%;
    }
    &--logo {
      width: 200px;
      img {
        width: 100%;
        height: auto;
      }
    }
    &--phones {
      display: flex;
      align-items: center;
      gap: 1rem;
      border-radius: getRem(8);
      padding: getRem(8);
      transition: background-color 0.2s ease;
      & > img {
        width: getRem(32);
        height: getRem(32);
      }
      &.active {
        background-color: color-mix(
          in srgb,
          var(--color-gray-40),
          transparent 75%
        );
        .header__main--phones-hidden {
          display: none;
        }
        .header__main--phones-showed {
          display: block;
        }
      }
      &-wrapper {
        font-weight: 600;
      }
      &-hidden {
        & > button {
          font-size: getRem(14);
          font-weight: 400;
          color: var(--color-green-100);
        }
      }
      &-showed {
        display: none;
      }
      &-hours {
        font-size: getRem(12);
        font-weight: 300;
        color: var(--color-gray-100);
        line-height: 1.5;
        margin-top: 0.25rem;
      }
      &-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        button:has(.icon-close) {
          position: absolute;
          top: 8px;
          right: 8px;
          z-index: 1;
        }
        .phones-tooltip--item {
          display: flex;
          gap: getRem(20);
          & > img {
            width: 32px;
            height: 32px;
          }
          &-wrapper {
            .item-phone {
              font-size: getRem(18);
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              margin-bottom: 0.5rem;
            }
            .item-hours {
              font-weight: 300;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              color: var(--color-gray-100);
              margin-bottom: 1rem;
            }
            .item-messengers {
              display: flex;
              align-items: center;
              gap: getRem(8);
              & > a {
                @include flex-center;
                width: 40px;
                height: 40px;
                border: 1px solid var(--color-gray-40);
                border-radius: 0.5rem;
                color: #000;
                transition: background-color 0.2s ease;
                .icon {
                  width: 24px;
                  height: 24px;
                  transition: background-color 0.2s ease;
                }
                &:hover {
                  background-color: var(--color-button-hover);
                  .icon {
                    background-color: var(--color-green-100);
                  }
                }
              }
            }
            .item-feedback {
              font-size: getRem(18);
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              margin-bottom: 0.5rem;
              color: var(--color-green-100);
              text-decoration: underline;
            }
          }
        }
      }
      &-tooltip {
        &::part(body) {
          padding-right: getRem(48);
          max-width: 520px;
        }
      }
    }
    &--search {
      flex-grow: 1;

      .search-wrapper {
        width: 100%;
        height: 44px;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        border: 1px solid var(--color-gray-40);
        background-color: var(--color-white);
        padding-left: 12px;
        transition: border-color 0.2s ease;
        &:has(.search-input:focus) {
          border-color: var(--color-green-50);
        }
      }
      .search-icon {
        width: 32px;
        height: 32px;
        margin-right: 10px;
      }
      .search-input {
        all: unset;
        height: 100%;
        flex-grow: 1;
        padding-right: 12px;
      }
      .search-button {
        @include flex-center;
        height: 100%;
        padding-left: 24px;
        padding-right: 24px;
        background-color: var(--color-gray-20);
        border-radius: 0 0.5rem 0.5rem 0;
        transition: background-color 0.2s ease;
        &:hover {
          background-color: var(--color-button-hover);
        }
      }
    }
    &--profile {
      display: flex;
      gap: 0.5rem;
      .icon-button {
        width: 44px;
        height: 44px;
        background-color: var(--color-green-20);
        border-radius: 50%;
        .icon {
          width: 32px;
          height: 32px;
        }
        &:hover {
          background-color: var(--color-button-hover);
        }
      }
    }
  }
  &__catalog {
    display: flex;
    gap: 1rem;
    position: relative;
    &--main {
      flex: 0 0 240px;
      .catalog-button {
        justify-content: flex-start;
        gap: 1rem;
        padding: 0.5rem 1rem;
        width: 100%;
        height: 64px;
        background-color: var(--color-violet);
        border-radius: 0.5rem;
        color: var(--color-white);
        font-weight: 600;
        .icon-menu {
          width: 40px;
          height: 40px;
        }
        &:hover {
          background-color: var(--color-violet-hover);
        }
      }
    }
    &--secondary {
      display: flex;
      flex-grow: 1;
      position: relative;
      .secondary-item {
        flex-grow: 1;
        &:first-child {
          .secondary-item--button {
            border-radius: 0.5rem 0 0 0.5rem;
          }
        }
        &:last-child {
          .secondary-item--button {
            border-radius: 0 0.5rem 0.5rem 0;
          }
        }
        &--button {
          width: 100%;
          height: 100%;
          background-color: var(--color-green-100);
          color: var(--color-white);
          justify-content: center;
          padding: 0 getRem(24);
          gap: 1rem;
          line-height: 1.2;
          border-right: 1px solid rgba(#fff, 0.2);
          .icon {
            width: 40px;
            height: 40px;
            flex-shrink: 0;
          }
          &-text {
            b {
              display: block;
              font-weight: 600;
            }
            span {
              font-size: getRem(14);
              font-weight: 300;
              color: var(--color-green-30);
            }
          }
          &:hover {
            background-color: var(--color-green-100-hover);
          }
        }
        &--content {
          position: absolute;
          left: 0;
          right: 0;
          background-color: var(--color-white);
          border-radius: 0 0 1rem 1rem;
          overflow: hidden;
          display: none;
          &-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding-left: 1rem;
            padding-right: 1rem;
            margin-bottom: -1px;
            & > li {
              display: flex;
              gap: 1rem;
              padding: 1rem 0;
              border-bottom: 1px solid var(--color-gray-30);
              img {
                width: 78px;
                height: 78px;
              }
              a {
                color: var(--color-violet);
                font-weight: 600;
                line-height: 1.25;
              }
            }
          }
        }
        &.active {
          .secondary-item--content {
            display: block;
          }
        }
      }
    }
  }
}

.footer {
  &__catalog {
    padding-top: getRem(80);
    padding-bottom: getRem(80);
    &-top {
      display: flex;
      gap: getRem(32);
      font-size: getRem(20);
      font-weight: 600;
      margin-bottom: getRem(48);
      a {
        color: var(--color-violet);
        transition: color 0.2s ease, text-decoration-color 0.2s ease;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-decoration-color: var(--color-green-100);
        text-underline-offset: 0.25rem;
        &:hover {
          color: var(--color-green-100);
          text-decoration-color: transparent;
        }
      }
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: getRem(24);
      font-size: getRem(14);
      font-weight: 300;
      & > li {
        display: flex;
        flex-direction: column;
        gap: getRem(8);
        a {
          transition: color 0.2s ease, text-decoration-color 0.2s ease;
          text-decoration: underline;
          text-decoration-thickness: 1px;
          text-decoration-color: var(--color-gray-40);
          text-underline-offset: 0.25rem;
          &:hover {
            text-decoration-color: transparent;
          }
        }
      }
    }
  }

  &__body {
    padding-top: getRem(64);
    padding-bottom: getRem(24);
    background: var(--color-gray-20);
    overflow: hidden;
    .container {
      position: relative;
    }
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      &-1 {
        width: 555px;
        top: -435px;
        left: -22%;
        rotate: 14deg;
      }
      &-2 {
        width: 34%;
        top: 50%;
        left: 50%;
        rotate: 0;
        translate: -50% -50%;
      }
      &-3 {
        width: 43%;
        top: 122%;
        left: 90%;
        rotate: -39deg;
        translate: -50% -50%;
      }
      &-4 {
        width: 9%;
        top: -15%;
        left: calc(100% + 80px);
        translate: -50% -50%;
      }
      &-5 {
        width: 9%;
        top: 107%;
        right: 100%;
        left: auto;
        translate: 0% -50%;
        rotate: -110deg;
      }
      &-6 {
        width: 22%;
        top: 129%;
        left: 25%;
        translate: -50% -50%;
        rotate: 0deg;
      }
    }
    &-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: getRem(24);
      position: relative;
      z-index: 1;
      & > section {
        & > h3 {
          font-weight: 600;
          margin-bottom: 1rem;
        }
      }
    }
    &-logo {
      img {
        width: 55%;
      }
    }
    &-list {
      font-size: getRem(14);
      font-weight: 300;
      display: flex;
      flex-direction: column;
      gap: getRem(6);
      & > li {
        a {
          transition: color 0.2s ease, text-decoration-color 0.2s ease;
          font-weight: inherit;
          text-decoration: underline;
          text-decoration-thickness: 1px;
          text-decoration-color: var(--color-gray-40);
          text-underline-offset: 0.25rem;
          &:hover {
            text-decoration-color: transparent;
          }
        }
      }
    }
    &-contacts {
      display: flex;
      flex-direction: column;
      gap: getRem(12);
      font-size: getRem(14);
      font-weight: 300;
      .contacts-street {
        color: var(--color-green-100);
        display: inline-flex;
        align-items: center;
        gap: getRem(8);
        .icon {
          width: 20px;
          height: 20px;
        }
        a {
          text-decoration: underline;
          text-decoration-thickness: 1px;
          text-underline-offset: 0.25rem;
          text-decoration-color: transparent;
          transition: text-decoration-color 0.2s ease;
          &:hover {
            text-decoration-color: var(--color-green-100);
          }
        }
      }
      .contacts-phone {
        &--hidden {
          p {
            button {
              font-size: 0.875rem;
              font-weight: 400;
              color: var(--color-green-100);
            }
          }
        }
        &--shown {
          display: none;
        }
        &.active {
          .contacts-phone--hidden {
            display: none;
          }
          .contacts-phone--shown {
            display: block;
          }
        }
      }
      .contacts-socials {
        display: flex;
        gap: getRem(8);
        & > a {
          @include flex-center;
          width: 40px;
          height: 40px;
          border-radius: 0.5rem;
          border: 1px solid var(--color-gray-40);
          transition: background-color 0.2s ease;
          &:hover {
            background-color: var(--color-button-hover);
            .icon {
              background-color: var(--color-green-100);
            }
          }
        }
        .icon {
          width: 24px;
          height: 24px;
          transition: background-color 0.2s ease;
        }
      }
    }
    &-divider {
      --color: var(--color-gray-40);
      margin-top: 48px;
      margin-bottom: 24px;
    }
    &-bottom {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--copyright {
        font-size: getRem(12);
        font-weight: 300;
        display: inline-flex;
        gap: getRem(40);
        align-items: center;
        span {
          color: var(--color-gray-100);
          position: relative;
          &::after {
            content: '';
            position: absolute;
            top: calc(50% - 0.15625rem);
            left: calc(100% + 1rem);
            width: 0.3125rem;
            height: 0.3125rem;
            background-color: var(--color-gray-40);
            border-radius: 50%;
          }
        }
      }
      &--cards {
        display: flex;
        gap: getRem(16);
        img {
          width: auto;
          height: 40px;
        }
      }
    }
  }
}

.catalog-overlay {
  background-color: var(--color-black);
  opacity: 0;
  position: fixed;
  z-index: -50;
  inset: 0;
}

body.catalog-opened {
  .catalog-overlay {
    opacity: 0.25;
    z-index: 50;
  }
  .catalog-button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .header__catalog_list {
    display: block;
  }
}

body.secondary-hovered {
  .catalog-overlay {
    opacity: 0.25;
    z-index: 50;
  }
}

.header__catalog_list {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  pointer-events: none;
  &-wrapper {
    display: inline-flex;
    background-color: var(--color-white);
    border-radius: 0 0 1rem 1rem;
    overflow: hidden;
    background-color: var(--color-gray-20);
    pointer-events: all;
  }
  .category-list {
    width: 240px;
    & > li {
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: getRem(14);
      font-weight: 600;
      background: url('/img/icons/icon-right.svg') no-repeat center right 16px /
        16px 16px;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: var(--color-button-hover);
      }
      & > a {
        display: flex;
        gap: 1rem;
        align-items: center;
        min-height: 56px;
        border-bottom: 1px solid var(--color-gray-30);
        padding-right: 16px;
        & > img {
          width: 24px;
          height: 24px;
        }
      }
      &.active {
        background-color: var(--color-white);
        a {
          border-color: transparent;
        }
      }
    }
  }
  .category-content {
    &__item {
      display: none;
      &.active {
        display: flex;
      }
      &-list {
        display: grid;
        grid-auto-flow: column;
        background-color: var(--color-white);
        // column-gap: 1rem;
        grid-template-rows: repeat(8, minmax(0, auto));
        align-items: start;
        & > li {
          padding-left: 1rem;
          padding-right: 0.5rem;
          transition: background-color 0.2s ease;
          &:hover {
            background-color: var(--color-button-hover);
          }
          & > a {
            display: flex;
            gap: 1rem;
            align-items: center;
            min-height: 56px;
            border-bottom: 1px solid var(--color-gray-30);
            & > img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      &-related {
        padding: 1rem 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: getRem(14);
        font-weight: 600;
        color: var(--color-violet);
      }
    }
  }
}
