@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin underline {
  text-decoration: underline;
  text-decoration-color: var(--color-gray-40);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
  transition:
    color 0.2s ease,
    text-decoration-color 0.2s ease;
  &:hover {
    text-decoration-color: transparent;
  }
}
