@use './functions' as *;
@use './mixins' as *;

button.button,
a.button {
  transition: background-color 0.2s ease;
  -webkit-mask-size: cover;
  mask-size: cover;
  &--primary {
    display: inline-flex;
    align-items: center;
    border-radius: 48px;
    font-size: getRem(18);
    line-height: 1;
    font-weight: 600;
    background-color: var(--color-green-50);
    color: var(--color-white);
    padding-left: getRem(40);
    padding-right: getRem(40);
    height: 48px;
    &:hover {
      background-color: var(--color-green-hover);
    }
  }
  &--secondary {
    display: inline-flex;
    align-items: center;
    border-radius: 48px;
    margin-top: getRem(36);
    font-size: getRem(18);
    line-height: 1;
    font-weight: 600;
    background-color: var(--color-violet);
    color: var(--color-white);
    padding-left: getRem(40);
    padding-right: getRem(40);
    height: 48px;
    &:hover {
      background-color: var(--color-violet-hover);
    }
  }
  &--arrow {
    padding-right: getRem(72);
    background-image: url('/img/icons/icon-arrow-right.svg');
    background-repeat: no-repeat;
    background-position: right 36px center;
    background-size: 20px 20px;
  }
}

a.underline {
  text-decoration: underline;
  text-decoration-color: var(--color-gray-40);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
  &:hover {
    text-decoration-color: transparent;
  }
}

a.not-underline {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
  &:hover {
    text-decoration-color: var(--color-gray-40);
  }
}

.paper {
  background-color: var(--color-white);
  padding: getRem(24);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: getRem(8);
}

.tooltip,
.dropdown {
  // --sl-tooltip-background-color: var(--color-white);
  &::part(body) {
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: getRem(8);
    padding: getRem(24);
    box-shadow: 0px 8px 20px rgba(#002603, 0.16);
    pointer-events: all;
  }
  &::part(arrow) {
    color: var(--color-white);
  }
  & > sl-button {
    @include flex-center;
    transition: background-color 0.2s ease;
    border-radius: 4px;
    padding: 2px 8px;
    .icon {
      margin-left: getRem(8);
    }
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--color-gray-40),
        transparent 75%
      );
    }
  }
  &[open] sl-button {
    background-color: color-mix(in srgb, var(--color-gray-40), transparent 75%);
  }
  &.dropdown {
    & > sl-button {
      cursor: pointer;
      font-size: getRem(14);
      .icon {
        transition: transform 0.2s ease;
      }
    }
    &[open] > sl-button {
      .icon {
        transform: scale(-1);
      }
    }
    & > sl-menu {
      color: var(--color-black);
      background-color: var(--color-white);
      border-radius: getRem(8);
      padding: 0;
      box-shadow: 0px 8px 20px rgba(#002603, 0.16);
      border: none;
      min-width: 180px;
      & > sl-menu-item {
        &[data-checked] {
          &::part(base) {
            background: url('/img/icons/icon-check.svg') no-repeat right 14px
              center / 16px 16px;
          }
        }
        &:focus-visible {
          &::part(base) {
            background-color: transparent;
            color: inherit;
          }
        }
        &::part(base) {
          padding: getRem(8) getRem(12);
        }
        &::part(label) {
          font-size: getRem(14);
          font-weight: 300;
          line-height: 1.5;
        }
        &::part(checked-icon) {
          display: none;
        }
        &:hover {
          background-color: color-mix(
            in srgb,
            var(--color-gray-40),
            transparent 75%
          );
        }
      }
    }
  }
}

.icon-button {
  @include flex-center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  position: relative;
  &:hover {
    background-color: color-mix(in srgb, var(--color-gray-40), transparent 75%);
  }
}

.badge {
  height: getRem(18);
  display: block;
  position: absolute;
  top: -2px;
  left: 75%;
  border-radius: getRem(9);
  background-color: blueviolet;
  color: var(--color-white);
  text-align: center;
  font-size: getRem(10);
  line-height: getRem(18);
  font-weight: 600;
  min-width: getRem(18);
  padding: 0 getRem(1) 0 getRem(2);
  z-index: 1;
  &.warning {
    background-color: var(--color-yellow);
  }
  &.success {
    background-color: var(--color-green-50);
  }
}

sl-rating {
  --symbol-color-active: var(--color-yellow);
}

// Photo Viewer Modal
.photo-viewer {
  position: fixed;
  inset: 0;
  z-index: -10;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, visibility 0.2s ease, z-index 0.2s ease;
  &.active {
    visibility: visible;
    z-index: 1000;
    opacity: 1;
    pointer-events: all;
  }
  &__overlay {
    background-color: var(--color-black);
    opacity: 0.75;
    position: absolute;
    inset: 0;
    z-index: 0;
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: getRem(56);
    overflow: hidden;
    padding-top: 160px;
    padding-bottom: 8px;
    position: relative;
    z-index: 1;
  }
  &__main-swiper {
    flex-grow: 1;
    width: 100%;
    .swiper-slide {
      display: flex;
      justify-content: center;
      & > {
        img {
          max-width: 70%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  &__thumbs-swiper {
    &.swiper {
      flex-shrink: 0;
      max-width: 100%;
      padding: 16px;
      .swiper-slide {
        width: 64px;
        height: 64px;
        border-radius: 0.5rem;
        overflow: hidden;
        cursor: pointer;
        transition: box-shadow 0.25s ease;

        border: 2px solid transparent;
        &.swiper-slide-thumb-active {
          box-shadow: 0 0 0 2px var(--color-green-50);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &__pagination {
    &.swiper-pagination-fraction,
    &.swiper-pagination-custom,
    &.swiper-horizontal > .swiper-pagination-bullets,
    &.swiper-pagination-bullets.swiper-pagination-horizontal {
      position: absolute;
      color: var(--color-white);
      left: 24px;
      top: 24px;
      bottom: auto;
    }
  }
  &__close-button {
    width: 44px;
    height: 44px;
    @include flex-center;
    position: absolute;
    top: 24px;
    right: 24px;
    color: var(--color-white);
    transition: background-color 0.2s ease;
    .icon {
      width: 24px;
      height: 24px;
    }
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--color-gray-40),
        transparent 75%
      );
    }
  }
  &__button-next,
  &__button-prev {
    @include flex-center;
    width: 40px;
    height: 40px;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
    z-index: 10;
    cursor: pointer;
    .icon {
      width: 36px;
      height: 36px;
      color: var(--color-white);
    }
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--color-gray-40),
        transparent 75%
      );
    }
  }
  &__button-next {
    right: 16px;
  }
  &__button-prev {
    left: 16px;
  }
}

// Hover Photo Viewer
.hover-photo-viewer {
  &__main {
    width: 100%;
    aspect-ratio: 1.32;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__thumbs {
    display: flex;
    gap: 1rem;
    height: 64px;
    padding: 0.5rem;
    margin: -0.5rem;
    margin-top: 20px;
    max-width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    & > li {
      aspect-ratio: 1;
      border-radius: 0.5rem;
      overflow: hidden;
      border: 2px solid transparent;
      transition: box-shadow 0.2s ease;
      &.active {
        box-shadow: 0 0 2px 2px var(--color-green-50);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
