@use './functions' as *;
@use './mixins' as *;

button.button,
a.button {
  transition: background-color 0.2s ease;
  -webkit-mask-size: cover;
  mask-size: cover;
  min-height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: getRem(18);
  border-radius: 8px;
  line-height: 1;
  font-weight: 600;
  padding-left: getRem(24);
  padding-right: getRem(24);
  &:disabled {
    background-color: var(--color-gray-50);
    color: var(--color-black);
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
  }
  &--small {
    min-height: 44px;
  }
  &--icon {
    aspect-ratio: 1;
    padding: 0;
    justify-content: center;
    & > * {
      width: 24px;
      height: 24px;
    }
  }
  &--primary {
    background-color: var(--color-green-50);
    color: var(--color-white);
    padding-left: getRem(40);
    padding-right: getRem(40);
    &:hover {
      background-color: var(--color-green-hover);
    }
  }
  &--secondary {
    display: inline-flex;
    align-items: center;
    border-radius: 48px;
    margin-top: getRem(36);
    font-size: getRem(18);
    line-height: 1;
    font-weight: 600;
    background-color: var(--color-violet);
    color: var(--color-white);
    padding-left: getRem(40);
    padding-right: getRem(40);
    height: 48px;
    &:hover {
      background-color: var(--color-violet-hover);
    }
  }
  &--outline {
    border: 1px solid var(--color-gray-40);
    background-color: var(--color-white);
    &:hover {
      background-color: var(--color-button-hover);
    }
  }
  &--arrow {
    padding-right: getRem(72);
    background-image: url('/img/icons/icon-arrow-right.svg');
    background-repeat: no-repeat;
    background-position: right 36px center;
    background-size: 20px 20px;
  }
  &--text {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-green-100);
    padding: getRem(4) getRem(12);
    transition: color 0.2s ease;
    min-height: auto;
    &:hover {
      color: var(--color-green-50);
    }
  }
  &--pill {
    border-radius: 48px;
  }
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--color-gray-40);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
  transition:
    color 0.2s ease,
    text-decoration-color 0.2s ease;
  &:hover {
    text-decoration-color: transparent;
  }
}

.not-underline {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
  transition:
    color 0.2s ease,
    text-decoration-color 0.2s ease;
  &:hover {
    text-decoration-color: var(--color-gray-40);
  }
}

.paper {
  background-color: var(--color-white);
  padding: getRem(24);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: getRem(8);
}

.tooltip,
.dropdown {
  // --sl-tooltip-background-color: var(--color-white);
  &::part(body) {
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: getRem(8);
    padding: getRem(24);
    box-shadow: 0px 8px 20px rgba(#002603, 0.16);
    pointer-events: all;
  }
  &::part(arrow) {
    color: var(--color-white);
  }
  & > sl-button {
    @include flex-center;
    transition: background-color 0.2s ease;
    border-radius: 4px;
    padding: 2px 8px;
    .icon {
      margin-left: getRem(8);
    }
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--color-gray-40),
        transparent 75%
      );
    }
  }
  &[open] sl-button {
    background-color: color-mix(in srgb, var(--color-gray-40), transparent 75%);
  }
  &.dropdown {
    & > sl-button {
      cursor: pointer;
      font-size: getRem(14);
      .icon {
        transition: transform 0.2s ease;
      }
    }
    &[open] > sl-button {
      .icon {
        transform: scale(-1);
      }
    }
    & > sl-menu {
      color: var(--color-black);
      background-color: var(--color-white);
      border-radius: getRem(8);
      padding: 0;
      box-shadow: 0px 8px 20px rgba(#002603, 0.16);
      border: none;
      min-width: 180px;
      & > sl-menu-item {
        &[data-checked] {
          &::part(base) {
            background: url('/img/icons/icon-check.svg') no-repeat right 14px
              center / 16px 16px;
          }
        }
        &:focus-visible {
          &::part(base) {
            background-color: transparent;
            color: inherit;
          }
        }
        &::part(base) {
          padding: getRem(8) getRem(12);
        }
        &::part(label) {
          font-size: getRem(14);
          font-weight: 300;
          line-height: 1.5;
        }
        &::part(checked-icon) {
          display: none;
        }
        &:hover {
          background-color: color-mix(
            in srgb,
            var(--color-gray-40),
            transparent 75%
          );
        }
      }
    }
  }
}

.icon-button {
  @include flex-center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  position: relative;
  &:hover {
    background-color: color-mix(in srgb, var(--color-gray-40), transparent 75%);
  }
}

.badge {
  height: getRem(18);
  display: block;
  position: absolute;
  top: -2px;
  left: 75%;
  border-radius: getRem(9);
  background-color: blueviolet;
  color: var(--color-white);
  text-align: center;
  font-size: getRem(10);
  line-height: getRem(18);
  font-weight: 600;
  min-width: getRem(18);
  padding: 0 getRem(1) 0 getRem(2);
  z-index: 1;
  &.warning {
    background-color: var(--color-yellow);
  }
  &.success {
    background-color: var(--color-green-50);
  }
}

sl-rating {
  --symbol-color: var(--color-gray-30);
  --symbol-color-active: var(--color-yellow);
}

// Photo Viewer Modal
.photo-viewer {
  position: fixed;
  inset: 0;
  z-index: -10;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease,
    z-index 0.2s ease;
  &.active {
    visibility: visible;
    z-index: 1000;
    opacity: 1;
    pointer-events: all;
  }
  &__overlay {
    background-color: var(--color-black);
    opacity: 0.75;
    position: absolute;
    inset: 0;
    z-index: 0;
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: getRem(56);
    overflow: hidden;
    padding-top: 160px;
    padding-bottom: 8px;
    position: relative;
    z-index: 1;
  }
  &__main-swiper {
    flex-grow: 1;
    width: 100%;
    .swiper-slide {
      display: flex;
      justify-content: center;
      & > {
        img {
          max-width: 70%;
          height: 100%;
          object-fit: contain;
        }
        iframe {
          width: 70%;
          border: none;
        }
      }
    }
  }
  &__thumbs-swiper {
    &.swiper {
      flex-shrink: 0;
      max-width: 100%;
      padding: 16px;
      .swiper-slide {
        width: 64px;
        height: 64px;
        border-radius: 0.5rem;
        overflow: hidden;
        cursor: pointer;
        transition: box-shadow 0.25s ease;

        border: 2px solid transparent;
        &.swiper-slide-thumb-active {
          box-shadow: 0 0 0 2px var(--color-green-50);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        button {
          width: 100%;
          height: 100%;
          background-color: var(--color-gray-10);
          flex-direction: column;
          gap: 4px;
          font-size: getRem(12);
          line-height: 1.3;
          color: var(--color-green-100);
          .icon {
            width: 32px;
            height: 32px;
            color: var(--color-black);
          }
        }
      }
    }
  }
  &__pagination {
    &.swiper-pagination-fraction,
    &.swiper-pagination-custom,
    &.swiper-horizontal > .swiper-pagination-bullets,
    &.swiper-pagination-bullets.swiper-pagination-horizontal {
      position: absolute;
      color: var(--color-white);
      left: 24px;
      top: 24px;
      bottom: auto;
    }
  }
  &__close-button {
    width: 44px;
    height: 44px;
    @include flex-center;
    position: absolute;
    top: 24px;
    right: 24px;
    color: var(--color-white);
    transition: background-color 0.2s ease;
    .icon {
      width: 24px;
      height: 24px;
    }
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--color-gray-40),
        transparent 75%
      );
    }
  }
  &__button-next,
  &__button-prev {
    @include flex-center;
    width: 40px;
    height: 40px;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
    z-index: 10;
    cursor: pointer;
    .icon {
      width: 36px;
      height: 36px;
      color: var(--color-white);
    }
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--color-gray-40),
        transparent 75%
      );
    }
  }
  &__button-next {
    right: 16px;
  }
  &__button-prev {
    left: 16px;
  }
}

// Hover Photo Viewer
.hover-photo-viewer {
  &__main {
    width: 100%;
    aspect-ratio: 1.32;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__thumbs {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    margin: -0.5rem;
    margin-top: getRem(12);
    max-width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    & > li {
      width: 64px;
      aspect-ratio: 1;
      border-radius: 0.5rem;
      overflow: hidden;
      border: 2px solid transparent;
      transition: box-shadow 0.2s ease;
      cursor: pointer;
      &.active {
        box-shadow: 0 0 2px 2px var(--color-green-50);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &_video {
      width: 60px;
      height: 60px;
      background-color: var(--color-gray-10);
      flex-direction: column;
      gap: 4px;
      font-size: getRem(12);
      line-height: 1.3;
      color: var(--color-green-100);
      .icon {
        width: 32px;
        height: 32px;
        color: var(--color-black);
      }
    }
  }
}

sl-input,
sl-textarea {
  --sl-input-border-radius-medium: 0.5rem;
  --sl-input-border-color: var(--color-gray-40);
  --sl-input-border-color-hover: var(--color-green-50);
  --sl-input-border-color-focus: var(--color-green-50);
  --sl-focus-ring-width: 0px;

  // Стилізація для focused стану
  &::part(base) {
    // border-color: var(--sl-color-danger-600);
  }
  &::part(form-control-label) {
    font-size: getRem(14);
    font-weight: 300;
    margin-bottom: getRem(8);
  }
  &::part(input) {
    font-family: 'Geologica', sans-serif;
    &::placeholder {
      font-size: getRem(14);
      font-weight: 300;
      color: var(--color-gray-80);
    }
  }
}

input,
textarea {
  &::placeholder {
    font-family: 'Geologica', sans-serif;
    font-size: getRem(14);
    font-weight: 300;
    color: var(--color-gray-80);
  }
}

.iti {
  width: 100%;
  display: inline-flex;
  &__tel-input {
    all: unset;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-gray-40);
    padding-left: getRem(112) !important;
  }
  &__country-container {
    background-color: var(--color-gray-20);
    border-radius: 0.5rem 0 0 0.5rem;
  }
  &__selected-dial-code {
    padding-right: getRem(8);
  }
}

// Breadcrumb
sl-breadcrumb {
  margin-bottom: getRem(24);
  display: block;
  sl-breadcrumb-item {
    &::part(label) {
      font-size: getRem(14);
      font-weight: 300;
      color: var(--color-black);
    }
    &::part(separator) {
      color: var(--color-gray-60);
      margin: 0 getRem(10);
    }
  }
}

// Pagination
.pagination {
  display: flex;
  justify-content: center;
  gap: getRem(12);
  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-gray-40);
    background-color: var(--color-white);
    border-radius: 0.5rem;
    padding: getRem(2) getRem(16);
    transition: background-color 0.3s ease;
    min-height: getRem(40);
    &.active {
      border-color: transparent;
      background-color: var(--color-button-hover);
      pointer-events: none;
    }
    &.disabled {
      background-color: var(--color-gray-20);
      pointer-events: none;
      opacity: 0.5;
    }
    &:hover {
      background-color: var(--color-button-hover);
    }
  }
}

sl-select {
  --sl-input-height-medium: 2.25rem;
  --sl-input-font-size-medium: 0.875rem;
  --sl-input-border-radius-medium: 0.375rem;
  --sl-input-spacing-medium: 0.75rem 0.5rem;
  --sl-input-color: var(--color-black);
  --sl-input-border-color: var(--color-gray-40);
  &::part(display-input) {
    font-family: 'Geologica', sans-serif;
    &::placeholder {
      color: var(--color-black);
    }
  }
  &::part(listbox) {
    border-radius: 0.5rem;
    box-shadow: 0px 8px 20px rgba(#002603, 0.16);
    border: none;
    background-color: var(--color-white);
    padding-top: 0;
    padding-bottom: 0;
  }
  &::part(combobox) {
    box-shadow: none;
    border-color: var(--color-gray-40);
  }
  sl-option {
    &:hover {
      &::part(base) {
        background-color: var(--color-gray-10);
      }
    }
    &::part(base) {
      --sl-color-primary-600: var(--color-gray-10);
      color: var(--color-black);
      font-size: 0.875rem;
      font-family: 'Geologica', sans-serif;
      position: relative;
      min-height: 40px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0.5rem;
        right: 0.5rem;
        height: 1px;
        background-color: var(--color-gray-30);
      }
    }
  }
}

sl-tag {
  &::part(base) {
    border-radius: 26px;
    height: 26px;
    background-color: transparent;
    border-color: var(--color-gray-50);
    color: var(--color-black);
    font-size: 0.875rem;
    font-weight: 300;
  }
  &::part(remove-button) {
    color: var(--color-black);
  }
}

sl-radio {
  &::part(control) {
    --toggle-size: 20px;
    border-color: var(--color-gray-50);
  }
  &::part(control--checked) {
    border-color: var(--color-gray-50);
    background-color: transparent;
    color: var(--color-green-50);
  }
  &::part(checked-icon) {
    transform: scale(1.296);
  }
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
  }
}

sl-checkbox {
  --sl-toggle-size-medium: 20px;
  --sl-input-font-family: 'Geologica', sans-serif;
  --sl-input-font-size-medium: getRem(14);
  --sl-input-font-weight: 300;
  &::part(control) {
    border-radius: 4px;
  }
  &::part(control--checked) {
    background-color: var(--color-green-50);
    border-color: var(--color-green-50);
  }
  &::part(label) {
    margin-top: getRem(-1);
  }
}

sl-tab-group {
  --track-width: 0;
  &::part(tabs) {
    gap: getRem(24);
  }
}
sl-tab {
  --sl-color-neutral-600: var(--color-violet);
  --sl-color-primary-600: var(--color-black);
  &:not([aria-selected='true']) {
    &::part(base) {
      text-decoration: underline;
      text-decoration-color: var(--color-green-100);
      text-decoration-thickness: 1px;
      text-underline-offset: 0.25rem;
      transition:
        color 0.2s ease,
        text-decoration-color 0.2s ease;
      &:hover {
        color: var(--sl-color-neutral-600);
        text-decoration-color: transparent;
      }
    }
  }
  &::part(base) {
    padding: 0;
    font-size: getRem(16);
    font-weight: 600;
  }
}

sl-tab-panel {
  &::part(base) {
    padding: getRem(24) 0 0 0;
  }
}

.reviews-section {
  padding: getRem(48);
  background-color: var(--color-white);
  border-radius: getRem(16);
  display: grid;
  grid-template-columns: 232px 1fr;
  gap: getRem(32);
  box-shadow: 0 8px 40px 0 rgba(0, 38, 3, 0.08);
  h2 {
    font-size: getRem(28);
    font-weight: 600;
  }
  .reviews-section__form {
    display: flex;
    flex-direction: column;
    gap: getRem(16);
    &_rating {
      display: flex;
      align-items: center;
      gap: getRem(16);
    }
    & > button {
      align-self: flex-start;
    }
  }
}

.reviews-section__comments {
  margin: getRem(24) 0;
  .comments__item {
    border-bottom: 1px solid var(--color-gray-30);
    padding: getRem(24) 0;
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
    &-date {
      font-size: getRem(14);
      color: var(--color-gray-100);
      font-weight: 300;
      margin-bottom: getRem(8);
    }
    &-grid {
      display: grid;
      grid-template-columns: 220px 1fr;
      gap: getRem(24);
    }
    &-title {
      display: flex;
      flex-direction: column;
      gap: getRem(4);
      b {
        font-weight: 600;
        display: block;
      }
      sl-rating {
        --symbol-size: 0.75rem;
      }
    }
    &-text {
      font-size: getRem(14);
      font-weight: 300;
    }
  }
}

.alert {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  &-success {
    background-color: var(--color-green-20);
  }
  a {
    color: var(--color-green-100);
  }
}

sl-dialog {
  --width: 100%;
  --sl-color-primary-600: var(--color-green-50);
  &::part(header) {
    border-bottom: 1px solid var(--color-gray-30);
  }
  &::part(body) {
    padding: 24px;
  }
  &::part(panel) {
    max-width: 640px;
    border-radius: 1rem;
  }
}

.counter-input {
  width: 96px;
  height: 32px;
  border: 1px solid var(--color-gray-40);
  border-radius: getRem(6);
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  overflow: hidden;
  & > button {
    width: 32px;
    height: 100%;
    @include flex-center;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: var(--color-button-hover);
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
  input {
    all: unset;
    width: 32px;
    text-align: center;
    background-color: var(--color-white);
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.cart-items-list {
  margin-top: getRem(20);
  background-color: var(--color-gray-10);
  border-radius: getRem(8);
  .cart-item {
    display: flex;
    gap: getRem(20);
    padding: 1rem;
    border-bottom: 1px solid var(--color-gray-30);
    position: relative;
    &:last-child {
      border-bottom: none;
    }
    &__remove {
      @include flex-center;
      width: 32px;
      height: 32px;
      position: absolute;
      right: 8px;
      top: 8px;
      color: var(--color-gray-100);
      border-radius: 8px;
      transition: background-color 0.2s ease;
      .icon {
        width: 20px;
        height: 20px;
      }
      &:hover {
        background-color: var(--color-button-hover);
      }
    }
    &__image {
      width: 80px;
      height: 80px;
      flex-shrink: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__details {
      flex-grow: 1;
      padding-right: 24px;
      h3 {
        font-size: 1rem;
        font-weight: normal;
      }
      &_options {
        margin-top: 4px;
        font-size: getRem(14);
        color: var(--color-gray-100);
      }
      &_controls {
        margin-top: getRem(8);
        display: flex;
        gap: getRem(10);
        align-items: center;
        gap: getRem(16);
        justify-content: space-between;
      }
    }
  }
}
