@use './_reset';
@use './_typography';
@use './_colors';
@use './_ui';
@use './_icons';
@use './_scroll';

@use '@shoelace-style/shoelace/dist/themes/light.css'; // or dark.css

@use './_layout';
@use './_swiper.scss';

@use './pages/_homepage';
@use './pages/_catalog';
@use './pages/_product';
@use './pages/_cart';
@use './pages/_portfolio';
@use './pages/_services';

.last-works {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  &_more {
    margin-top: 40px;
    text-align: center;
  }
}

.main {
  &__last-works {
    margin-top: 80px;
    background: var(--color-green-20) url('/img/bg-leaves-back.svg') no-repeat center / cover;
    .last-works {
      .homepage__last-works-leaf-1 {
        display: none;
      }
      .homepage__last-works-leaf-2 {
        display: none;
      }
    }
  }
}
