@use './_reset';
@use './_typography';
@use './_colors';
@use './_ui';
@use './_icons';
@use './_scroll';

@use '@shoelace-style/shoelace/dist/themes/light.css'; // or dark.css

@use './_layout';
@use './swiper.scss';

@use './pages/_homepage';
@use './pages/_catalog';

.last-works {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  &_more {
    margin-top: 40px;
    text-align: center;
  }
}
