@use './_reset';
@use './_typography';
@use './_colors';
@use './_ui';

@import '@shoelace-style/shoelace/dist/themes/light.css'; // or dark.css

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import './_layout';
