@use './_reset';
@use './_functions';
@use './_typography';
@use './_colors';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import './_layout';
