<section class="category-content__item" data-category="plant-pots">
  <ul class="category-content__item-related">
    <li>
      <a class="underline" href="/ua/planters/">Усі горщики</a>
    </li>
    <li>
      <a class="underline" href="/ua/planters/ceramic/">Керамічні горщики</a>
    </li>
    <li>
      <a class="underline" href="/ua/planters/lechuza/">Горщики Lechuza</a>
    </li>
    <li>
      <a class="underline" href="/ua/planters/lamela/">Горщики "Lamela"</a>
    </li>
    <li>
      <a class="underline" href="/ua/planters/elho/">Горщики ELHO</a>
    </li>
    <li>
      <a class="underline" href="/ua/planters/wood-planters/"
        >Горщики з дерева</a
      >
    </li>
    <li>
      <a class="underline" href="/ua/planters/metal-pots/">Металеві кашпо</a>
    </li>
    <li>
      <a class="underline" href="/ua/planters/beton/">Горщики з бетону</a>
    </li>
    <li>
      <a class="underline" href="/ua/aksessuary/">Аксесуари для рослин</a>
    </li>
  </ul>
</section>
