<section class="category-content__item" data-category="room-plants">
  <ul class="category-content__item-list">
    <li>
      <a href="">
        <img src="/img/category/red-orchid.png" alt="Орхідеї" />
        <span>Орхідеї</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/img/category/zamioculcas.png" alt="Декоративно листяні" />
        <span>Декоративно листяні</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/img/category/palm.png" alt="Пальми" />
        <span>Пальми</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/img/category/lemon.png" alt="Цитрусові" />
        <span>Цитрусові</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/img/category/blue-hydrangea.png" alt="Кімнатні рослини" />
        <span>Квітучі рослини</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/img/category/sansevieria.png" alt="Сансевієрія" />
        <span>Сансевієрія</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/img/category/ficus.png" alt="Фікуси" />
        <span>Фікуси</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/img/category/dracena.png" alt="Драцени" />
        <span>Драцени</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/img/category/cactus.png" alt="Кактуси" />
        <span>Кактуси</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/img/category/ivy.png" alt="Виткі та ампельні рослини" />
        <span>Виткі та ампельні рослини</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/img/category/bonsai-tree.png" alt="Бонсай" />
        <span>Бонсай</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/img/category/part-of-the-suculent.png" alt="Сукуленти" />
        <span>Сукуленти</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/img/category/small-ukka.png" alt="Кімнатні рослини" />
        <span>Юкка</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/img/category/surfinia-flower.png" alt="Сезонні рослини" />
        <span>Сезонні рослини</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/img/category/christmas-tree.png" alt="Хвойні" />
        <span>Хвойні</span>
      </a>
    </li>
  </ul>
  <ul class="category-content__item-related">
    <li>
      <a class="underline" href="">Подарункові сертифікати</a>
    </li>
    <li>
      <a class="underline" href="">Розумний сад Click & Grow</a>
    </li>
    <li>
      <a class="underline" href="">Штучні квіти</a>
    </li>
    <li>
      <a class="underline" href="">Перегородки з рослинами</a>
    </li>
    <li>
      <a class="underline" href="">Аксесуари для рослин</a>
    </li>
  </ul>
</section>
