<!-- prettier-ignore -->
{% extends "layouts/base.njk" %}
{% set title = "Доставка" %}
{% block content %}

<main class="double-column-page">
  <div class="container">
    <div class="double-column-page__grid">
      <!-- Sidebar navigation - категорії каталогу -->
      <aside class="double-column-page__nav">
        <section class="double-column-page__nav_section">
          <h3 class="active">
            <a href="">Про компанію</a>
          </h3>
        </section>
        <section class="double-column-page__nav_section">
          <h3>
            <a href="">Оплата та Доставка</a>
          </h3>
        </section>
        <section class="double-column-page__nav_section">
          <h3>
            <a href="">Контакти</a>
          </h3>
        </section>
        <section class="double-column-page__nav_section">
          <h3>
            <a href="">Політика конфіденційності</a>
          </h3>
        </section>
        <section class="double-column-page__nav_section">
          <h3>
            <a href="">Договір оферта</a>
          </h3>
        </section>
        <section class="double-column-page__nav_section">
          <h3>
            <a href="">Правила повернення товару</a>
          </h3>
        </section>
        <section class="double-column-page__nav_section">
          <h3>
            <a href="">Співпраця</a>
          </h3>
        </section>
      </aside>
      <div class="services-page__content">
        <!-- Breadcrumbs -->
        <sl-breadcrumb>
          <sl-breadcrumb-item href="#">Озеленення і Фітодизайн</sl-breadcrumb-item>
          <sl-breadcrumb-item href="#">Як замовити</sl-breadcrumb-item>
        </sl-breadcrumb>

        <section class="flex">
          <div class="grow">
            <h1>Оформлення та доставка замовлень</h1>
            <p>
              Ми можете замовити товари чи послуги, скориставшись сайтом нашого інтеренет-магазину. У такому випадку наш менеджер зв'яжеться з вами в найближчий
              час, щоб обговорити деталі замовлення. Якщо на представленому товарі не вказано ціну, можна уточнити його наявність і вартість, зателефонувавши
              або залишивши заявку на нашому сайті. Після цього менеджер студії Флорен передзвонить вам сам.
            </p>
          </div>
          <div class="services-page__calc">
            <h3>Чекаємо від вас дзвінка</h3>
            {#
            <p>Також звертайтеся за телефоном:</p>
            #}
            <div class="homepage__advices_content--phones">
              <div class="phones--hidden">(044) 344..<button data-event="click" data-callback="toggleAdvicesPhones">показати номери</button></div>
              <div class="phones--visible">
                <p>(044) 344-28-95</p>
                <p>(050) 660-52-75</p>
              </div>
              <div class="phones--hours">По буднях з 9:00 до 19:30</div>
            </div>
          </div>
        </section>

        <section class="services-page__left-title-list">
          <div class="services-page__left-title">
            <h2>Способи доставки</h2>
            <div class="grow">
              <ul class="mb-48">
                <li>самовивіз з магазину - пр. Перемоги, буд. 70. Детальніше - див. Контакти</li>
                <li>відправлення на відділення Нової Пошти;</li>
                <li>кур'єром Нової Пошти (адресна доставка);</li>
                <li>кур'єром Флорен у межах міста Києва «до дверей».</li>
              </ul>
              <h3 class="mb-24">Доставка кімнатних рослин Новою Поштою.</h3>
              <p>
                Перед відправкою кімнатних рослин через Нову Пошту ми пакуємо кожну з них у папір. Акуратно ставимо в коробку таким чином, щоб при перевороті
                рослина не пошкодилась. Маркуємо коробки так, щоб вантажники максимально акуратно ставилися до вантажу. Пересилаємо кімнатні рослини новою
                поштою лише у плюсову температуру. Перед відправкою замовлення обов'язково узгоджуємо всі деталі. Детально читайте в розділі Доставка рослин
                Новою Поштою.
              </p>
              <p></p>
              <p>
                Доставляємо замовлені рослини та товари по Києву з понеділка по п'ятницю, в суботу та неділю можлива доставка по Києву та його передмістю на
                таксі. Терміни доставки індивідуальні для кожного замовлення - від 1,5 години до 3 днів. Час і місце доставки попередньо обговорюється.
              </p>
              <p></p>
              <p>
                На жаль, не весь товар, представлений на сайті, є в наявності. Якщо кімнатної рослини, яка сподобалася вам, немає в наявності – ми замовимо і
                привеземо її вам із Голландії за термін від 5 до 14 днів.
              </p>
              <p></p>
              <p>
                Перед відправкою кімнатних рослин ми неодмінно перевіряємо їх стан (товарний вигляд, відсутність хвороб) та запропонуємо вам альтернативу, якщо
                виявимо проблеми.
              </p>
              <p></p>
              <p>Вартість доставки:</p>
              <p></p>
              <ul>
                <li>Стандартний тариф: кур'єром з 10:00 - 18:00 — 200 грн</li>
                <li>до 10:00, 18:00 - 22:00 — +150 грн до стандартного тарифу</li>
                <li>доставка в точний час — +150 грн до стандартного тарифу</li>
                <li>швидка доставка (до 2 годин) — +150 грн до стандартного тарифу</li>
              </ul>
            </div>
          </div>
          <div class="services-page__left-title">
            <h2>Варіанти оплати</h2>
            <div class="grow">
              <ul class="mb-48">
                Оплата кур'єру готівкою під час отримання
                <li>Безготівковий розрахунок за рахунком-фактурою на ФОП (реквізити ви отримаєте в зворотному листі)</li>
                <li>Безготівковий розрахунок за рахунком-фактурою з ПДВ (реквізити ви отримаєте в зворотному листі)</li>
                <li>Оплата замовлення онлайн банківською картою Visa або MasterCard</li>
                <li>Розрахунок готівкою або через термінал в офісі у разі самовивозу</li>
                <li>Накладний платіж</li>
                <li>Оплата на картку ПриватБанку</li>
              </ul>
            </div>
          </div>
          <div class="services-page__left-title">
            <h2>Варіанти повернення товару</h2>
            <div class="grow">
              <p>
                Шановні покупці, згідно із законом "Про захист прав споживачів" ви можете повернути або обміняти товар. Які товари підлягають поверненню і як
                правильно оформити процедуру повернення, читайте в розділі <a href="/purchase-returns/">Поверення товарів</a>.
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>

<!-- Модальне вікно перегляду фото -->
{% include "components/photo-viewer-modal.njk" %} {% endblock %}
