<!-- prettier-ignore -->
{% extends "layouts/base.njk" %}

{% set title = "Vituum + Nunjucks" %}

{% block content %}

<main class="homepage">
  <div class="container">{% include "partials/homepage/hero-swiper.njk" %}</div>
  {% include "partials/homepage/interior-landscaping.njk" %}
</main>

{% endblock %}
