<!-- prettier-ignore -->
{% extends "layouts/base.njk" %}

{% set title = "Vituum + Nunjucks" %}

{% block content %}

<main class="homepage">
  <div class="container">{% include "partials/homepage/hero-swiper.njk" %}</div>
  {% include "partials/homepage/interior-landscaping.njk" %}
  <h1 style="text-align: center; color: orange; margin: 50px 0">
    TODO: Приклади проектів по озелененню
  </h1>
  {% include "partials/homepage/last-works.njk" %}
</main>

{% endblock %}
