<!-- prettier-ignore -->
{% extends "layouts/base.njk" %}

{% set title = "Vituum + Nunjucks" %}

{% block content %}

<main class="homepage">
  <div class="container">{% include "partials/homepage/hero-swiper.njk" %}</div>
  <!-- prettier-ignore -->
  {% include "partials/homepage/interior-landscaping.njk" %}
  {% include "partials/homepage/landscaping-projects.njk" %}  
  {% include "partials/homepage/last-works.njk" %}
  {% include "partials/homepage/in-numbers.njk" %}
  {% include "partials/homepage/clients-swiper.njk" %}
  {% include "partials/homepage/popular-products.njk" %}
  {% include "partials/homepage/advices.njk" %}
  {% include "partials/homepage/information.njk" %}
  {% include "partials/homepage/rating.njk" %}
</main>

<!-- prettier-ignore -->
{% include "components/photo-viewer-modal.njk" %}
{% endblock %}
