{% extends "layouts/base.njk" %}

{% from "data/catalog-page.njk" import catalog %}

{% set title = "Сторінка Портфоліо 2" %}

{% block content %}

  <main class="catalog-page">
    <div class="container">
      <div class="catalog-page__grid">

        <!-- Sidebar navigation - категорії каталогу -->
        <aside class="catalog-page__nav">
          {% for item in catalog %}
            <section class="catalog-page__nav_section">
              <h3>{{ item.title }}</h3>
              <ul>
                {% for category in item.categories %}
                  <li class="{% if category.active %}active{% endif %}">
                    <a class="underline" href="/catalog/{{ category.id }}">{{ category.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </section>
          {% endfor %}
        </aside>

        <!-- Main content area -->
        <div class="portfolio-page__content">
          <!-- Breadcrumbs -->
          <sl-breadcrumb>
            <sl-breadcrumb-item href="#">Озеленення і Фітодизайн</sl-breadcrumb-item>
            <sl-breadcrumb-item href="#">Портфоліо</sl-breadcrumb-item>
          </sl-breadcrumb>
          <h1>Портфоліо</h1>
          <div class="portfolio-page__description">Озеленення офісного простору дуже цікаве заняття. Необхідно підібрати рослини залежно від умов приміщення. Врахувати побажання власників офісу, а також співробітників, біля яких будуть стояти квіти. Рослини повинні бути стійкими і витримувати різного роду напруги. Необхідно передбачити, як буде вести себе рослина з часом без професійного догляду.</div>
          <ul class="portfolio-page__list gallery">
            <li class="new">
              <a href="">
                <div class="portfolio-page__list-image">
                  <img src="/img/portfolio-6.png" alt="">
                </div>
              </a>
            </li>
            <li class="new">
              <a href="">
                <div class="portfolio-page__list-image">
                  <img src="/img/portfolio-1.png" alt="">
                </div>
              </a>
            </li>
            <li class="new">
              <a href="">
                <div class="portfolio-page__list-image">
                  <img src="/img/portfolio-2.png" alt="">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="portfolio-page__list-image">
                  <img src="/img/portfolio-3.png" alt="">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="portfolio-page__list-image">
                  <img src="/img/portfolio-4.png" alt="">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="portfolio-page__list-image">
                  <img src="/img/portfolio-5.png" alt="">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="portfolio-page__list-image">
                  <img src="/img/portfolio-6.png" alt="">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="portfolio-page__list-image">
                  <img src="/img/portfolio-1.png" alt="">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="portfolio-page__list-image">
                  <img src="/img/portfolio-2.png" alt="">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="portfolio-page__list-image">
                  <img src="/img/portfolio-3.png" alt="">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="portfolio-page__list-image">
                  <img src="/img/portfolio-4.png" alt="">
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="portfolio-page__list-image">
                  <img src="/img/portfolio-5.png" alt="">
                </div>
              </a>
            </li>
          </ul>

          <div class="portfolio-page__next">
            <span>Наступний об'єкт:</span>
            <a href="" class="underline">Synexus</a>
            <img src="/img/icons/icon-arrow-right-long.svg" alt="">
          </div>
        </div>
      </div>

      <div class="portfolio-page__interior-landscaping">
        {% include "partials/homepage/interior-landscaping.njk" %}
      </div>
    </div>

    <!-- Секція порад -->
    {% include "partials/homepage/advices.njk" %}
  </main>

  <!-- Модальне вікно перегляду фото -->
  {% include "components/photo-viewer-modal.njk" %}
{% endblock %}