<div class="photo-viewer" id="main-photo-viewer">
  <div class="photo-viewer__overlay"></div>
  <div class="photo-viewer__wrapper">
    <div class="photo-viewer__pagination"></div>
    <button class="photo-viewer__close-button">
      <span class="icon icon-close"></span>
    </button>
    <div
      style="--swiper-navigation-color: #fff"
      class="swiper photo-viewer__main-swiper"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="https://floren.com.ua/images/gallery/b/ozelenenie-office-kiev-212.jpg"
          />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
        </div>
      </div>
      <div class="photo-viewer__button-next">
        <span class="icon icon-arrow-angle-right"></span>
      </div>
      <div class="photo-viewer__button-prev">
        <span class="icon icon-arrow-angle-left"></span>
      </div>
    </div>
    <div thumbsSlider="2" class="swiper photo-viewer__thumbs-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="https://floren.com.ua/images/gallery/b/ozelenenie-office-kiev-212.jpg"
          />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
