<sl-dialog id="calculate-modal" label="Розрахувати вартість комплексного догляду за рослинами" class="calculate-modal" open>
  <form class="login-modal__form" action="/api/calculate" method="post" onsubmit="submitForm(event)">
    <div class="form-control">
      <sl-input id="name" label="Ваше ім'я" type="text" placeholder="Ім'я"></sl-input>
    </div>
    <div class="form-control">
      <label for="phone">Ваш контактний номер телефону*</label>
      <input id="phone" data-tel-input type="tel">
    </div>
    <div class="form-control">
      <sl-textarea id="message" label="Ваше повідомлення" type="text" placeholder="Повідомлення"></sl-textarea>
    </div>

    <div class="form-control">
      <button class="button button--primary" type="submit">Відправити</button>
    </div>
  </form>
</sl-dialog>