<sl-dialog id="cart-modal" label="Кошик" class="cart-modal">
  <div class="alert alert-success cart-modal__message" role="alert">
    Товар <a href="/" class="underline" id="cart-modal-product-name">Орхідея Фаленопсис Муса</a> Пінк доданий у ваш <a href="/basket" class="underline">кошик</a>
  </div>
  <ul class="cart-items-list" id="cart-modal-items-list">
    <li class="cart-item" data-id="11111">
      <div class="cart-item__image">
        <a href="">
          <img src="/img/sevices/landscaping-artificial-plants.png" alt="">
        </a>
      </div>
      <div class="cart-item__details">
        <button class="cart-item__remove">
          <svg class="icon icon-trash"/>
        </button>
        <h3>
          <a href="">Орхідея Фаленопсис Муса Пінк</a>
        </h3>
        <div class="cart-item__details_options">Ø 10, висота 45 см</div>
        <div class="cart-item__details_controls">
          <quantity-counter value="5" min="1"></quantity-counter>
          <div class="cart-item__details_price">450 ₴</div>
        </div>
      </div>
    </li>
    <li class="cart-item" data-id="222222">
      <div class="cart-item__image">
        <a href="">
          <img src="/img/sevices/plant-transplantation.png" alt="">
        </a>
      </div>
      <div class="cart-item__details">
        <button class="cart-item__remove">
          <svg class="icon icon-trash"/>
        </button>
        <h3>
          <a href="">Орхідея Фаленопсис Муса Пінк</a>
        </h3>
        <div class="cart-item__details_options">Ø 10, висота 45 см</div>
        <div class="cart-item__details_controls">
          <quantity-counter value="5" min="1"></quantity-counter>
          <div class="cart-item__details_price">450 ₴</div>
        </div>
      </div>
    </li>
  </ul>
  <div class="cart-modal__footer">
    <button class="cart-modal__footer_continue underline" data-event="click" data-callback="closeModal">Продовжити покупки</button>
    <div class="cart-modal__footer_total">Разом: <b>900 ₴</b>
    </div>
    <a href="/basket" class="button button--small button--primary">Оформити замовлення</a>
  </div>
</sl-dialog>