<div class="header__catalog">
  <div class="header__catalog--main">
    <button
      id="catalog-button"
      class="catalog-button"
      aria-label="Каталог товарів"
    >
      <svg class="icon icon-menu" />
      Каталог товарів
    </button>
    {% include "partials/catalog-list.njk" %}
  </div>
  <ul class="header__catalog--secondary">
    <li class="secondary-item">
      <button class="secondary-item--button" aria-label="Фітодизайн">
        <svg class="icon icon-fitodesign" />
        <div class="secondary-item--button-text">
          <b>Фітодизайн</b>
          <span>Озеленення простору</span>
        </div>
      </button>
    </li>
    <li class="secondary-item">
      <button
        class="secondary-item--button"
        aria-label="Вертикальне озеленення"
      >
        <svg class="icon icon-vertical" />
        <div class="secondary-item--button-text">
          <b>Вертикальне озеленення</b>
          <span>Зелені стіни</span>
        </div>
      </button>
    </li>
    <li class="secondary-item">
      <button class="secondary-item--button" aria-label="Догляд за рослинами">
        <svg class="icon icon-care" />
        <div class="secondary-item--button-text">
          <b>Догляд</b>
          <span>За рослинами</span>
        </div>
      </button>
    </li>
    <li class="secondary-item">
      <button class="secondary-item--button" aria-label="Галерея фотографій">
        <svg class="icon icon-photogallery" />
        <div class="secondary-item--button-text">
          <b>Портфоліо</b>
          <span>Галерея фотографій</span>
        </div>
      </button>
    </li>
  </ul>
</div>
