<footer class="footer">
  <div class="footer__catalog">
    <div class="container">
      <div class="footer__catalog-top">
        <span>ТОП Категорії</span>
        <a href="">ТОП Тегі</a>
        <a href="">Міста</a>
        <a href="">FAQ</a>
        <a href="">Пропозиції</a>
      </div>
      <ul class="footer__catalog-list">
        <li>
          <a href="">Лавровое дерево в горшке</a>
          <a href="">Комнатное растение мирт</a>
          <a href="">Пальма комнатная хамедорея</a>
          <a href="">Горшок керамический</a>
          <a href="">Драцена golden</a>
          <a href="">Пальма цветы</a>
          <a href="">Маранта вазон</a>
          <a href="">Кактусы маленькие</a>
        </li>
        <li>
          <a href="">Растение денежное дерево</a>
          <a href="">Домашний вьющийся цветок</a>
          <a href="">Кипарис декоративный</a>
          <a href="">Горшок с автополивом лечуза</a>
          <a href="">Горшки для цветов из бетона</a>
          <a href="">Орхидеи в стеклянной вазе</a>
          <a href="">Лимон декоративный</a>
          <a href="">Пальмы домашние</a>
        </li>
        <li>
          <a href="">Сансевиерия голден ханни</a>
          <a href="">Комнатные растения фикус</a>
          <a href="">Замиокулькас цветок</a>
          <a href="">Фикус наташа</a>
          <a href="">Перегородки из живых растений</a>
          <a href="">Купить аглаонемы</a>
          <a href="">Аглаонема цена</a>
          <a href="">Алоказия цена</a>
        </li>
        <li>
          <a href="">Цветущие растения</a>
          <a href="">Бокарнея нолина</a>
          <a href="">Комнатная азалия</a>
          <a href="">Горшки с автополивом</a>
          <a href="">Хвойные деревья</a>
          <a href="">Lechuza вазоны</a>
          <a href="">Банан домашний</a>
          <a href="">Лавровый лист</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__body">
    <div class="container">
      <img
        class="footer__body-bg footer__body-bg-1"
        src="/img/palm.svg"
        alt="background"
      />
      <img
        class="footer__body-bg footer__body-bg-2"
        src="/img/palm.svg"
        alt="background"
      />
      <img
        class="footer__body-bg footer__body-bg-3"
        src="/img/palm.svg"
        alt="background"
      />
      <img
        class="footer__body-bg footer__body-bg-4"
        src="/img/leaf.svg"
        alt="background"
      />
      <img
        class="footer__body-bg footer__body-bg-5"
        src="/img/leaf.svg"
        alt="background"
      />
      <img
        class="footer__body-bg footer__body-bg-6"
        src="/img/leaf.svg"
        alt="background"
      />

      <div class="footer__body-grid">
        <section>
          <a
            href="/"
            class="footer__body-logo"
            aria-label="Флорен - студія фітодизайну"
          >
            <img src="/img/footer-logo.png" alt="Флорен - студія фітодизайну" />
          </a>
        </section>
        <section>
          <h3>Інформація</h3>
          <ul class="footer__body-list">
            <li><a href="">Про компанію</a></li>
            <li><a href="">Повернення товарів</a></li>
            <li><a href="">Співпраця</a></li>
            <li><a href="">Контакти </a></li>
            <li><a href="">Мапа сайту</a></li>
          </ul>
        </section>
        <section>
          <h3>Товари та сервіси</h3>
          <ul class="footer__body-list">
            <li><a href="">Фітодизайн</a></li>
            <li><a href="">Вертикальне озеленення</a></li>
            <li><a href="">Ландшафтний дизайн</a></li>
            <li><a href="">Кімнатні рослини</a></li>
            <li><a href="">Горщики та Кашпо</a></li>
          </ul>
        </section>
        <section>
          <h3>Контакти</h3>
          <ul class="footer__body-contacts">
            <li>
              <p class="contacts-street">
                <svg class="icon icon-location" />
                <a href="https://goo.gl/maps/UPpaCBkrMd2TWfXq7" target="_blank"
                  >пр. Берестейський, 70</a
                >
              </p>
              <p>03113, Київ, Україна</p>
            </li>
            <li class="contacts-phone">
              <div class="contacts-phone--hidden">
                <p>
                  (044) 344..
                  <button
                    data-event="click"
                    data-callback="toggleFooterPhones"
                    aria-label="Показати телефон"
                  >
                    показати
                  </button>
                </p>
                <p>(050) 660..</p>
              </div>
              <div class="contacts-phone--shown">
                <p>(044) 344-28-95</p>
                <p>(050) 660-52-75</p>
              </div>
            </li>
            <li class="contacts-socials">
              <a href="">
                <svg class="icon icon-facebook" />
              </a>
              <a href="">
                <svg class="icon icon-youtube" />
              </a>
              <a href="">
                <svg class="icon icon-instagram" />
              </a>
            </li>
          </ul>
        </section>
      </div>
      <sl-divider class="footer__body-divider"></sl-divider>
      <div class="footer__body-bottom">
        <section class="footer__body-bottom--copyright">
          <span>© 2025 “Флорен”</span>
          <a class="not-underline" href="">Договір оферта</a>
        </section>
        <section class="footer__body-bottom--cards">
          <img src="/img/payment-visa.svg" alt="Visa" />
          <img src="/img/payment-master.svg" alt="MasterCard" />
          <img src="/img/payment-google.svg" alt="Google Pay" />
          <img src="/img/payment-apple.svg" alt="Apple Pay" />
        </section>
      </div>
    </div>
  </div>
</footer>
