<header class="header">
  <div class="container">
    <nav class="header__nav" aria-label="Головне меню сайту">
      <!-- Location dropdown element start -->
      <sl-tooltip
        class="tooltip header__nav-location"
        trigger="click"
        placement="bottom-start"
        style="--sl-tooltip-arrow-size: 0"
        distance="0"
      >
        <div slot="content" class="header__nav-location--content">
          <img src="/img/icon-shop.svg" alt="icon-shop" />
          <div class="description">
            <button
              class="icon-button header__nav-location--close"
              aria-label="Закрити вікно"
            >
              <svg class="icon icon-close" />
            </button>
            <a
              href="https://goo.gl/maps/UPpaCBkrMd2TWfXq7"
              target="_blank"
              rel="noopener noreferrer"
              >м. Київ, пр. Берестейський, 70</a
            >
            <p>Графік роботи магазинів:</p>
            <p>пн-сб: 09:00 - 19:30</p>
            <p>нд: 10:00 - 18:00</p>
          </div>
        </div>
        <sl-button class="header__nav-location--button">
          <svg class="icon icon-location" />
          Магазини у Києві
        </sl-button>
      </sl-tooltip>
      <!-- Location dropdown element end -->

      <!-- Navigation menu start -->
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Про компанію</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Оплата та Доставка</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Корисні матеріали</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Контакти</a>
        </li>
      </ul>
      <!-- Navigation menu end -->

      <!-- Language dropdown element start -->
      <div class="header__nav-lang">
        <sl-dropdown class="dropdown">
          <sl-button class="header__nav-lang--button" slot="trigger" caret
            >Українською
            <svg class="icon icon-down" />
          </sl-button>
          <sl-menu>
            <sl-menu-item data-checked value="ua">Українською</sl-menu-item>
            <sl-divider></sl-divider>
            <sl-menu-item value="ru">Російською</sl-menu-item>
          </sl-menu>
        </sl-dropdown>
      </div>
      <!-- Language dropdown element end -->
    </nav>
    <div class="header__main">
      <div class="header__main--left">
        <a href="/" class="header__main--logo">
          <img src="/img/main-logo.svg" alt="Logo" />
        </a>
        <sl-tooltip
          id="phones-tooltip"
          class="tooltip header__main--phones-tooltip"
          trigger="manual"
          placement="bottom-start"
          style="--sl-tooltip-arrow-size: 0"
          distance="0"
        >
          <div slot="content" class="header__main--phones-content">
            <button
              class="icon-button"
              aria-label="Закрити вікно"
              data-event="click"
              data-callback="togglePhones"
            >
              <svg class="icon icon-close" />
            </button>
            <div class="phones-tooltip--item">
              <img src="/img/icons/icon-phone.svg" alt="Phone" />
              <div class="phones-tooltip--item-wrapper">
                <p class="item-phone">(044) 344-28-95, (050) 660-52-75</p>
                <p class="item-hours">По буднях 09:00 - 19:30</p>
                <p class="item-messengers">
                  <a href="">
                    <svg class="icon icon-whatsapp" />
                  </a>
                  <a href="">
                    <svg class="icon icon-telegram" />
                  </a>
                </p>
              </div>
            </div>
            <div class="phones-tooltip--item">
              <img src="/img/icons/icon-feedback.svg" alt="Feedback" />
              <div class="phones-tooltip--item-wrapper">
                <a class="item-feedback" href="">Форма зворотнього звʼязку</a>
              </div>
            </div>
          </div>
          <div class="header__main--phones">
            <img src="/img/icons/icon-phone.svg" alt="Phone" />
            <div class="header__main--phones-wrapper">
              <div class="header__main--phones-hidden">
                (044) 344..
                <button data-event="click" data-callback="togglePhones">
                  показати
                </button>
              </div>
              <div class="header__main--phones-showed">
                (044) 344-28-95, (050) 660-52-75
              </div>
              <div class="header__main--phones-hours">
                По буднях 9:00 - 19:30
              </div>
            </div>
          </div>
        </sl-tooltip>
      </div>
      <div class="header__main--right">
        <!-- Search form start -->
        <form action="" class="header__main--search">
          <div class="search-wrapper">
            <img
              class="search-icon"
              src="/img/icons/icon-search.svg"
              alt="Search"
            />
            <input class="search-input" type="search" placeholder="Шефлера" />
            <button class="search-button">Пошук</button>
          </div>
        </form>
        <!-- Search form end -->

        <div class="header__main--profile">
          <a href="#" class="icon-button" aria-label="Особистий кабінет">
            <svg class="icon icon-user" />
          </a>
          <a href="#" class="icon-button" aria-label="Обране">
            <span class="badge warning">10</span>
            <svg class="icon icon-heart" />
          </a>
          <a href="#" class="icon-button" aria-label="Кошик">
            <span class="badge success">2</span>
            <svg class="icon icon-basket" />
          </a>
        </div>
      </div>
    </div>

    {% include "partials/catalog.njk" %}
  </div>
</header>
