<header>
  <div class="container">
    <nav class="header__top-nav">
      <div>
        <svg>
          <use xlink:href="{{ spritemap }}#icon-location"></use>
        </svg>
        Магазини у Києві
      </div>
      <div></div>
    </nav>
  </div>
</header>
