<!-- Comments Form Section -->
<div class="reviews-section">
  <h2>Відгук або запитання</h2>
  <div class="reviews-section__form">
    <sl-input placeholder="ПІБ"></sl-input>
    <sl-input placeholder="Телефон або e-mail (не буде опубліковано)"></sl-input>
    <sl-textarea placeholder="Комментар" rows="1" resize="auto"></sl-textarea>
    <div class="reviews-section__form_rating">
      <span>Ваша оцінка:</span>
      <sl-rating></sl-rating>
    </div>
    <button class="button button--primary button--pill">Відправити</button>
  </div>
</div>

<!-- Comments List Section -->
<div class="reviews-section__comments">
  <!-- Comment Item -->
  <div class="comments__item">
    <div class="comments__item-date">11 квітня 2024</div>
    <div class="comments__item-grid">
      <div class="comments__item-title">
        <b>Хивренко Александр</b>
        <sl-rating size="small" value="5" readonly></sl-rating>
      </div>
      <div class="comments__item-text">Купувала у даному магазині онлайн гортензію в горщику, загалом 3 горщика (один замовляли додатково). Дуже ввічливі і відповідальні, весь час були за звʼязку. Надали фото всіх квітів зі святковою упаковкою. Організували доставку по області і вчасно доставили в чудовому вигляді. Дуже були задоволені! Дякую!</div>
    </div>
  </div>
  <!-- Comment Item -->
  <div class="comments__item">
    <div class="comments__item-date">12 грудня 2023</div>
    <div class="comments__item-grid">
      <div class="comments__item-title">
        <b>Катерина</b>
        <sl-rating size="small" value="5" readonly></sl-rating>
      </div>
      <div class="comments__item-text">У вас широкий вибір орхідей, що радує. Красиві. Видно, що ви професіонали в своїй справі, тому що рослини доглянуті й цвітуть. Значить, за ними доглядають правильно.</div>
    </div>
  </div>
  <!-- Comment Item -->
  <div class="comments__item">
    <div class="comments__item-date">31 липня 2023</div>
    <div class="comments__item-grid">
      <div class="comments__item-title">
        <b>Олеся П.</b>
        <sl-rating size="small" value="5" readonly></sl-rating>
      </div>
      <div class="comments__item-text">Квіти завжди є чудовим подарунком, вони викликають приємні емоції та піднімають настрій. Придбала рослину на подарунок, бо захопилася символізмом квітки кохання)) Задоволена своїм вибором і допомогою професійних консультантів.</div>
    </div>
  </div>
</div>