<sl-dialog id="sign-up-modal-greeting" label="Реєстрація" class="login-modal" open>
  <div class="login-modal__greeting">
    <img src="/img/Illustration.png" alt="Вітаємо!">
    <p>Вітаємо! Ви успішно зареєструвались. Тепер Ви можете користуватись Вашим кабінетом і здійснювати замовлення</p>
    <a href="" class="button button--outline">Перейти до кабінету</a>
    <button href="" class="underline" data-event="click" data-callback="closeModal">Закрити</button>
  </div>
</sl-dialog>