<sl-dialog id="sign-up-modal" label="Вхід" class="login-modal">
  <form class="login-modal__form">
    <div class="form-control">
      <sl-input label="ПІБ" placeholder="Прізвище Імʼя По батькові"></sl-input>
    </div>
    <div class="form-control">
      <label for="phone">Ваш телефон</label>
      <input id="phone" data-tel-input type="tel">
    </div>
    <div class="form-control">
      <sl-input label="Email" type="email" placeholder="E-mail"></sl-input>
    </div>
    <div class="form-control">
      <sl-input label="Пароль" type="password" placeholder="********"></sl-input>
    </div>
    <div class="form-control form-control--double">
      <sl-checkbox>
        Запам'ятати мене
      </sl-checkbox>
      <a href="" class="underline">Нагадати пароль</a>
    </div>
    <div class="form-control">
      <button class="button button--primary" type="submit">Увійти</button>
    </div>
    <div class="form-control text-center">
      <a href="" class="underline">Зарєструватись</a>
    </div>
  </form>
</sl-dialog>