<div class="container">
  <div class="clients-swiper homepage__clients">
    <h2>Наші клієнти</h2>
    <div class="swiper" data-swiper="clients-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide clients-slide">
          <img src="/img/homepage/client-1.png" alt="client" />
        </div>
        <div class="swiper-slide clients-slide">
          <img src="/img/homepage/client-2.png" alt="client" />
        </div>
        <div class="swiper-slide clients-slide">
          <img src="/img/homepage/client-3.png" alt="client" />
        </div>
        <div class="swiper-slide clients-slide">
          <img src="/img/homepage/client-4.png" alt="client" />
        </div>
        <div class="swiper-slide clients-slide">
          <img src="/img/homepage/client-5.png" alt="client" />
        </div>
        <div class="swiper-slide clients-slide">
          <img src="/img/homepage/client-6.png" alt="client" />
        </div>
        <div class="swiper-slide clients-slide">
          <img src="/img/homepage/client-7.png" alt="client" />
        </div>
      </div>
    </div>
    <button class="swiper-button swiper-button--prev">
      <img src="/img/icons/icon-arrow-angle-left.svg" alt="" />
    </button>
    <button class="swiper-button swiper-button--next">
      <img src="/img/icons/icon-arrow-angle-right.svg" alt="" />
    </button>
  </div>
</div>
