<!-- Slider main container -->
<div class="swiper hero-swiper homepage__hero-swiper" data-swiper="hero-swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide homepage__hero-slide-1">
      <div class="slide-1__content">
        <div class="slide-1__image">
          <img
            src="/img/homepage/hero-swiper-slide-1-1.png"
            alt="Озеленення офісу від студії фітодизайну Флорен"
          />
        </div>
        <div class="slide-1__text">
          <h2>Озеленення офісу від студії фітодизайну Флорен</h2>
          <p>
            Студія фітодизайну "Флорен" представляє повний комплекс послуг із
            озеленення офісів у Києві. У своїй роботі з озеленення інтер'єру
            житлових та комерційних приміщень ми використовуємо різні
            <a class="underline" href="#">кімнатні рослини</a>
            та елементи декору. Робимо безкоштовний виїзд дизайнера, готуємо
            проект озеленення під ключ у найкоротші терміни.
          </p>
          <div class="slide-1__actions">
            <section class="slide-1__action">
              <div class="slide-1__action_link">
                <a href="">
                  <img
                    src="/img/homepage/hero-swiper-slide-1-2.png"
                    alt="Каталог рослин та горщиків"
                  />
                </a>
                <a class="underline" href="">Каталог рослин та горщиків</a>
              </div>
              <div class="slide-1__action_description">
                Підберіть рослини та кашпо для озеленення приміщення, а
                фіто-дизайнер проконсультує з питань догляду.
              </div>
            </section>
            <section class="slide-1__action">
              <div class="slide-1__action_link">
                <a href="">
                  <img
                    src="/img/homepage/hero-swiper-slide-1-3.png"
                    alt="Догляд за рослинами"
                  />
                </a>
                <a class="underline" href="">Догляд за рослинами</a>
              </div>
              <div class="slide-1__action_description">
                Складно доглядати за рослинами, – ми візьмемо квіти у вашому
                офісі на обслуговування, і вони знову оживуть.
              </div>
            </section>
            <section class="slide-1__action">
              <div class="slide-1__action_link">
                <a href="">
                  <img
                    src="/img/homepage/hero-swiper-slide-1-4.png"
                    alt="Доставка букетів"
                  />
                </a>
                <a class="underline" href="">Доставка букетів</a>
              </div>
              <div class="slide-1__action_description">
                Авторські букети та композиції, створені професійними
                флористами, з доставкою по Києву.
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-slide homepage__hero-slide-2">
      <div class="slide-2__content">
        <h2>Догляд за кімнатними рослинами</h2>

        <p>
          З досвіду нашої компанії, 4 з 10 рослин гинуть протягом місяця після
          покупки.
          <br />
          Виною усьому:
        </p>
        <ul>
          <li>
            неправильний догляд, який не враховує індивідуальних особливостей;
          </li>
          <li>невчасна діагностика захворювань рослин та лікування;</li>
          <li>недостатній полив чи перелив.</li>
        </ul>
        <p>
          Не варто перекладати відповідальність за догляд за вазонами на
          офіс-менеджера, секретаря чи клінера. Довіртеся професіоналам, щоб
          вкладений в озеленення бюджет не пропав даремно, а рослини тішили вас
          максимально довго.
        </p>
        <a
          class="slide-2__action button button--secondary button--arrow"
          href=""
          >Розрахувати вартість догляду за рослинами</a
        >
      </div>
    </div>

    <div class="swiper-slide homepage__hero-slide-3">
      <div class="slide-2__content">
        <h2>Благоустрій та озеленення території</h2>

        <p>
          Доглянута, гарна присадибна ділянка в Україні вважається ознакою
          благополуччя мешканців будинку. Котедж в оточенні квітів або шелестких
          кронами дерев незмінно привертає увагу, справляє гарне враження.
          Потрібні глибокі пізнання в галузі ландшафтного дизайну, що охоплюють
          правила розміщення, висадки рослин з урахуванням їх сполучуваності, а
          також здатності витримувати мінливі погодні умови Києва. У студії
          ландшафтного дизайну «Флорен» працюють фахівці, що заслужили відмінну
          репутацію за період багаторічного проектування та озеленення міських
          територій.
        </p>

        <a
          class="slide-2__action button button--secondary button--arrow"
          href=""
          >Розрахувати вартість догляду за рослинами</a
        >
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <button class="swiper-button swiper-button--prev">
    <img src="/img/icons/icon-arrow-angle-left.svg" alt="" />
  </button>
  <button class="swiper-button swiper-button--next">
    <img src="/img/icons/icon-arrow-angle-right.svg" alt="" />
  </button>
</div>
