<div class="homepage__numbers">
  <div class="container">
    <h2>Ми в цифрах</h2>
    <ul class="homepage__numbers_list">
      <li class="numbers__item">
        <div class="numbers__item_icon">
          <img src="/img/icons/icon-fitodesign.svg" alt="" />
        </div>
        <div class="numbers__item_text">
          <h3>
            <a class="underline" href="">Озеленення інтер'єру</a>
          </h3>
          <p>
            Інтер'єрне озеленення приміщень площею від <b>30м2</b> до зонування
            опенспейсу в <b>1600м2.</b>
          </p>
        </div>
      </li>
      <li class="numbers__item">
        <div class="numbers__item_icon">
          <img src="/img/icons/icon-direction.svg" alt="" />
        </div>
        <div class="numbers__item_text">
          <h3>Озеленення інтер'єру</h3>
          <p>
            Більше <b>1.000</b> видів квітів та горщиків в асортименті для
            швидкого озеленення офісу у Києві.
          </p>
        </div>
      </li>
      <li class="numbers__item">
        <div class="numbers__item_icon">
          <img src="/img/icons/icon-stars.svg" alt="" />
        </div>
        <div class="numbers__item_text">
          <h3>Ексклюзивні рослини</h3>
          <p>
            Привеземо на замовлення продукцію для озеленення від
            <b>20 см.</b> до <b>5 метрів.</b>
          </p>
        </div>
      </li>
      <li class="numbers__item">
        <div class="numbers__item_icon">
          <img src="/img/icons/icon-indicator.svg" alt="" />
        </div>
        <div class="numbers__item_text">
          <h3>Оперативне озеленення</h3>
          <p>
            Озеленюємо офіс у найкоротші терміни від постачання день у день до
            <b>14 днів</b> на замовлення з Голландії
          </p>
        </div>
      </li>
      <li class="numbers__item">
        <div class="numbers__item_icon">
          <img src="/img/icons/icon-track.svg" alt="" />
        </div>
        <div class="numbers__item_text">
          <h3>Надійна доставка</h3>
          <p>
            Доставка на спеціально оснащених машинах у будь-яку погоду -
            <b>від -30°C до +30°C.</b>
          </p>
        </div>
      </li>
      <li class="numbers__item">
        <div class="numbers__item_icon">
          <img src="/img/icons/icon-transplantation.svg" alt="" />
        </div>
        <div class="numbers__item_text">
          <h3>
            <a class="underline" href="">Пересадка рослин</a>
          </h3>
          <p>Пересаджуємо від <b>300 кімнатних квітів</b> щомісяця.</p>
        </div>
      </li>
      <li class="numbers__item">
        <div class="numbers__item_icon">
          <img src="/img/icons/icon-pot.svg" alt="" />
        </div>
        <div class="numbers__item_text">
          <h3>
            <a class="underline" href="">Горщики для рослин</a>
          </h3>
          <p>
            Великий вибір горщиків для рослин, більше <b>300 моделей</b> під
            будь-який інтер'єр.
          </p>
        </div>
      </li>
      <li class="numbers__item">
        <div class="numbers__item_icon">
          <img src="/img/icons/icon-care.svg" alt="" />
        </div>
        <div class="numbers__item_text">
          <h3>
            <a class="underline" href="">Обслуговування рослин</a>
          </h3>
          <p>
            Доглядаємо більш ніж за <b>1.000 рослинами</b> в різних офісах та
            квартирах, надаючи гарантію
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
