<div class="homepage__information">
  <div class="container">
    <ul class="homepage__information_list">
      <li class="information__item">
        <h3>Інтер'єр офісу - важлива складова іміджу компанії</h3>
        <section class="expandable-text" data-max-chars="300">
          <div class="expandable-text__content">
            <p>
              Приміщення, наповнене різними живими рослинами буквально оживає.
              Правильно підібрані кімнатні квіти підтримують певний стиль
              інтер'єру, формують імідж компанії та створюють сприятливі умови
              для роботи. А крім цього, таке “живе” оформлення інтер'єру залишає
              лише позитивні емоції у відвідувачів та бізнес-партнерів.
            </p>
            <p>
              Озеленення різноманітних приміщень сьогодні перетворилося на
              особливий напрямок мистецтва - фітодизайн. Для того, щоб його
              правильно виконати, необхідно мати великий запас знань про
              кімнатні дерева, чагарники, квіти, знати їх види та особливості
              кожного. В іншому випадку, навіть найкрасивіша зелена композиція
              може незабаром перетворитися на пожухлий ряд зів'ялого листя.
              Розробку проектів озеленення в офісі, послуги фітодизайну
              пропонують різні компанії Києва, але важливо звернутися дійсно до
              команди професіоналів, таких як фітостудія “Флорен”, яка надає
              подібні послуги вже понад 7 років.
            </p>
          </div>
          <button class="btn expandable-text__button">Читати повністю</button>
        </section>
      </li>
      <li class="information__item">
        <h3>Проект благоустрою офісних приміщень живими квітами</h3>
        <section class="expandable-text" data-max-chars="300">
          <div class="expandable-text__content">
            <p>
              Замовити комплексну послугу озеленення рослинами для горщиків
              офісів, території торгових центрів, дахів, а також ландшафтний
              дизайн дачних ділянок можна в Києві у фітостудії “Флорен”, ми
              пропонуємо готове комплексне рішення, ціна якого визначається
              індивідуально, але в будь-якому випадку вона буде доступною для
              вас. Слід розуміти, що сучасний фітодизайн – це не те саме, що
              просто розставити вазони з квітами. Фахівці використовують різні
              прийоми, напрацьовані роками:
            </p>
            <ul>
              <li>
                декоративні композиції, створені з листяних та квітучих рослин у
                вазонах та кашпо;
              </li>
              <li>конструкції, що оснащені спеціальними модулями, кишенями;</li>
              <li>фітокартини, створені за допомогою мохових видів рослин;</li>
              <li>
                використання живих та штучних рослин, які закріплюються на
                вертикальних поверхнях.
              </li>
            </ul>
            <p>
              Як і все живе, озеленення вимагає постійного догляду та створення
              прийнятних умов утримання. Навіть найневибагливіші рослини
              необхідно вчасно поливати, обприскувати і проводити підживлення.
            </p>
            <p>
              Для того, щоб зберегти привабливий вигляд фітомодулів, необхідно
              регулярно обприскувати квіти та видаляти пил із листя.
            </p>
          </div>
          <button class="btn expandable-text__button">Читати повністю</button>
        </section>
      </li>
      <li class="information__item">
        <h3>
          Студія фітодизайну "Флорен" (Київ) - компанія з озеленення, що
          пропонує готові рішення для будь-якого виду приміщень
        </h3>
        <section>
          <p>
            Якщо ви вирішили, що хочете озеленити своє робоче чи домашнє
            приміщення, спеціалісти студії фітодизайну "Флорен" у Києві
            підберуть для вас такі сорти рослин, які ідеально підійдуть саме для
            ваших умов. При цьому обов'язково враховується розмір приміщення,
            його освітленість, температурний режим у різні пори року.
          </p>
          <p>
            Не варто забувати, що навіть невеликий острівець живої зелені
            здатний створити масу переваг – значно покращується стан повітря у
            приміщенні, що позитивно впливає на працездатність та здоров'я
            співробітників. У кожному офісному приміщенні обов'язково є велика
            кількість оргтехніки, що створює несприятливий ефект, який
            нейтралізують живі рослини.
          </p>
          <p>
            У нашій фітостудії ви можете замовити вертикальне озеленення
            приміщення, офісу, квартири, благоустрій дачної ділянки та її
            ландшафтний дизайн, всі ціни лояльні та залежать від обраних сортів
            рослин та готового проекту. Ми пропонуємо європейський рівень
            обслуговування всім клієнтам. Можемо запропонувати готові рішення
            або виконати замовлення відповідно до ваших уподобань.
          </p>
          <p>
            Зв'язатися з нами можна будь-яким зручним для вас способом. Номери
            зв'язку вказані на сайті floren.com.ua. Ми гарантуємо максимально
            ефективний результат у найкоротші терміни.
          </p>
        </section>
      </li>
    </ul>
  </div>
</div>
