<div class="container homepage__landscaping">
  <img
    class="homepage__landscaping__leaf"
    src="/img/leaf-2.png"
    alt="Озеленення інтер'єру"
  />
  <section class="homepage__landscaping__content">
    <h2>Озеленення інтер'єру</h2>
    <div class="homepage__landscaping__content-text">
      <p>
        Озеленення інтер'єру офісу - це те, що наші фахівці вміють робити "на
        відмінно"! Викличте фітодизайнера професіонала до офісу для
        консультації. Це безкоштовно, а ви заощадите купу часу підбираючи
        продукцію для озеленення офісного інтер'єру квітами.
      </p>
      <p>
        В інтер'єрному озелененні немає поняття "дорого" чи "дешево" щодо
        грошей. Вони є щодо смаку та якості. Коли до вас приходять у гості і
        думають "негарне озеленення офісу" або "як круто тут стало, хоча
        додалися маленькі акценти, вазони".
      </p>
      <p>
        Кожна рослина має ряд корисних властивостей та естетичних якостей. З
        іншого боку, у них є свої недоліки. Наш досвід дозволяє запропонувати
        вам гарні композиції із рослин у горщиках, які зможуть прожити більше
        місяця. У цьому зберегти свою естетичність.
      </p>
    </div>
  </section>
  <section class="services-swiper">
    <div class="swiper" data-swiper="services-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide services-slide">
          <div class="services-slide__image">
            <img src="/img/homepage/interior-landscaping-1.png" alt="" />
          </div>

          <div class="services-slide__content">
            <h3>
              <a class="underline" href="">Вертикальне озеленення</a>
            </h3>
            <p>
              Вертикальне озеленення за допомогою зелених стін із рослин або
              стабілізованого моху.
            </p>
          </div>
        </div>
        <div class="swiper-slide services-slide">
          <div class="services-slide__image">
            <img src="/img/homepage/interior-landscaping-2.png" alt="" />
          </div>

          <div class="services-slide__content">
            <h3><a class="underline" href="">Озеленення літньої тераси</a></h3>
            <p>
              Озеленення літніх майданчиків кафе та відкритих терас сезонними
              яскравими квітами
            </p>
          </div>
        </div>
        <div class="swiper-slide services-slide">
          <div class="services-slide__image">
            <img src="/img/homepage/interior-landscaping-3.png" alt="" />
          </div>

          <div class="services-slide__content">
            <h3><a class="underline" href="">Оренда рослин</a></h3>
            <p>
              Оренда рослин та декорування виставкових стендів та знімальних
              майданчиків
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <button class="swiper-button swiper-button--prev">
      <img src="/img/icons/icon-arrow-angle-left.svg" alt="" />
    </button>
    <button class="swiper-button swiper-button--next">
      <img src="/img/icons/icon-arrow-angle-right.svg" alt="" />
    </button>
  </section>
</div>
