<div class="homepage__projects">
  <div class="container">
    <div class="projects-swiper">
      <h2>Приклади проектів по озелененню</h2>
      <div class="swiper" data-swiper="projects-swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <!-- Slide 1 -->
          <div class="swiper-slide projects-slide">
            <div
              class="hover-photo-viewer"
              data-photo-viewer="project-photo-viewer"
            >
              <div class="hover-photo-viewer__main">
                <img src="/img/homepage/ozelenenie-restorana-7.jpg" alt="" />
              </div>
              <ul class="hover-photo-viewer__thumbs">
                <li class="active">
                  <img src="/img/homepage/ozelenenie-restorana-7.jpg" alt="" />
                </li>
                <li>
                  <img src="/img/homepage/ozelenenie-restorana-6.jpg" alt="" />
                </li>
                <li>
                  <img src="/img/homepage/ozelenenie-restorana-5.jpg" alt="" />
                </li>
                <li>
                  <img
                    src="/img/homepage/ozelenenie-office-kiev-4.jpg"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="/img/homepage/ozelenenie-office-kiev-3.jpg"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="/img/homepage/ozelenenie-office-kiev-2.jpg"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="/img/homepage/ozelenenie-office-kiev-1.jpg"
                    alt=""
                  />
                </li>
              </ul>
            </div>
            <div class="projects-slide__info">
              <h3 class="projects-slide__info_title">
                Озеленення інтер'єру офіса Типографії
              </h3>
              <div class="projects-slide__info_text">
                <p>
                  Спільно з архітектурним бюро ми розробили і реалізували проект
                  по озелененню офіса друкарні в центрі Києва. Завдяки
                  нестандартному підходу дизайнерів, сміливості Замовника і
                  професійній доставці, посадці і догляду вийшла дуже цікава та
                  сучасна композиція – вертикальний підвісний сад.
                </p>
                <p>
                  Надзвичайне поєднання тропічного бамбука і металевих підвісних
                  горщиків стало ідеальним доповненням стилю лофт, в якому
                  виконаний інтер'єр друкарні.
                </p>
              </div>
              <div class="projects-slide__info_action">
                <a href="#" class="button button--primary button--arrow"
                  >Більше прикладів</a
                >
              </div>
            </div>
          </div>
          <!-- /Slide 1 -->

          <!-- Slide 2 -->
          <div class="swiper-slide projects-slide">
            <div
              class="hover-photo-viewer"
              data-photo-viewer="project-photo-viewer"
            >
              <div class="hover-photo-viewer__main">
                <img src="/img/homepage/ozelenenie-restorana-7.jpg" alt="" />
              </div>
              <ul class="hover-photo-viewer__thumbs">
                <li class="active">
                  <img src="/img/homepage/ozelenenie-restorana-7.jpg" alt="" />
                </li>
                <li>
                  <img src="/img/homepage/ozelenenie-restorana-6.jpg" alt="" />
                </li>
                <li>
                  <img src="/img/homepage/ozelenenie-restorana-5.jpg" alt="" />
                </li>
                <li>
                  <img
                    src="/img/homepage/ozelenenie-office-kiev-4.jpg"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="/img/homepage/ozelenenie-office-kiev-3.jpg"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="/img/homepage/ozelenenie-office-kiev-2.jpg"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="/img/homepage/ozelenenie-office-kiev-1.jpg"
                    alt=""
                  />
                </li>
              </ul>
            </div>
            <div class="projects-slide__info">
              <h3 class="projects-slide__info_title">
                Озеленення ресторану у Києві
              </h3>
              <div class="projects-slide__info_text">
                <p>
                  Спільно з архітектурним бюро ми розробили і реалізували проект
                  по озелененню офіса друкарні в центрі Києва. Завдяки
                  нестандартному підходу дизайнерів, сміливості Замовника і
                  професійній доставці, посадці і догляду вийшла дуже цікава та
                  сучасна композиція – вертикальний підвісний сад.
                </p>
                <p>
                  Надзвичайне поєднання тропічного бамбука і металевих підвісних
                  горщиків стало ідеальним доповненням стилю лофт, в якому
                  виконаний інтер'єр друкарні.
                </p>
              </div>
              <div class="projects-slide__info_action">
                <a href="#" class="button button--primary button--arrow"
                  >Більше прикладів</a
                >
              </div>
            </div>
          </div>
          <!-- /Slide 2 -->
        </div>
      </div>
      <button class="swiper-button swiper-button--prev">
        <img src="/img/icons/icon-arrow-angle-left.svg" alt="" />
      </button>
      <button class="swiper-button swiper-button--next">
        <img src="/img/icons/icon-arrow-angle-right.svg" alt="" />
      </button>
    </div>
  </div>
</div>
