<div class="container homepage__popular">
  <div class="popular-swiper">
    <h2>Популярні товари</h2>
    <div class="swiper" data-swiper="popular-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide popular-slide">
          <div class="popular-slide__image">
            <a href="">
              <img
                src="/img/homepage/product-1.png"
                alt="Озеленення одного з офісів компанії Synexus"
              />
            </a>
          </div>
          <div class="popular-slide__title">
            <a href="">Орхідея Фаленопсис Муса Пінк</a>
          </div>
          <div class="popular-slide__price">114,99 ₴</div>
          <sl-rating label="Rating" readonly value="3"></sl-rating>
        </div>

        <div class="swiper-slide popular-slide">
          <div class="popular-slide__image">
            <a href="">
              <img
                src="/img/homepage/product-2.png"
                alt="Озеленення одного з офісів компанії Synexus"
              />
            </a>
          </div>
          <div class="popular-slide__title">
            <a href="">Антуріум</a>
          </div>
          <div class="popular-slide__price">114,99 ₴</div>
          <sl-rating label="Rating" readonly value="5"></sl-rating>
        </div>

        <div class="swiper-slide popular-slide">
          <div class="popular-slide__image">
            <a href="">
              <img
                src="/img/homepage/product-3.png"
                alt="Розумний вазон Lechuza Delta"
              />
            </a>
          </div>
          <div class="popular-slide__title">
            <a href="">Розумний вазон  Lechuza Delta</a>
          </div>
          <div class="popular-slide__price">114,99 ₴</div>
          <sl-rating label="Rating" readonly value="4"></sl-rating>
        </div>

        <div class="swiper-slide popular-slide">
          <div class="popular-slide__image">
            <a href="">
              <img
                src="/img/homepage/product-4.png"
                alt="Розумний вазон Lechuza Delta"
              />
            </a>
          </div>
          <div class="popular-slide__title">
            <a href="">Антуріум</a>
          </div>
          <div class="popular-slide__price">114,99 ₴</div>
          <sl-rating label="Rating" readonly value="4"></sl-rating>
        </div>

        <div class="swiper-slide popular-slide">
          <div class="popular-slide__image">
            <a href="">
              <img
                src="/img/homepage/product-5.png"
                alt="Розумний вазон Lechuza Delta"
              />
            </a>
          </div>
          <div class="popular-slide__title">
            <a href="">Заміокулькас</a>
          </div>
          <div class="popular-slide__price">114,99 ₴</div>
          <sl-rating label="Rating" readonly value="4"></sl-rating>
        </div>

        <div class="swiper-slide popular-slide">
          <div class="popular-slide__image">
            <a href="">
              <img
                src="/img/homepage/product-4.png"
                alt="Розумний вазон Lechuza Delta"
              />
            </a>
          </div>
          <div class="popular-slide__title">
            <a href="">Антуріум</a>
          </div>
          <div class="popular-slide__price">114,99 ₴</div>
          <sl-rating label="Rating" readonly value="4"></sl-rating>
        </div>

        <div class="swiper-slide popular-slide">
          <div class="popular-slide__image">
            <a href="">
              <img
                src="/img/homepage/product-5.png"
                alt="Розумний вазон Lechuza Delta"
              />
            </a>
          </div>
          <div class="popular-slide__title">
            <a href="">Заміокулькас</a>
          </div>
          <div class="popular-slide__price">114,99 ₴</div>
          <sl-rating label="Rating" readonly value="4"></sl-rating>
        </div>
      </div>
    </div>
    <button class="swiper-button swiper-button--prev">
      <img src="/img/icons/icon-arrow-angle-left.svg" alt="" />
    </button>
    <button class="swiper-button swiper-button--next">
      <img src="/img/icons/icon-arrow-angle-right.svg" alt="" />
    </button>
    <div class="homepage__last-works_more">
      <button class="button button--primary button--arrow">До каталогу</button>
    </div>
  </div>
</div>
